
<!-- =========================================
breadcrumb
========================================== -->
<!-- breadcrumb-wrapper -->
<section class="breadcrumb-wrapper">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="page-description">
                <h3>Eficiencia y eficacia aplicadas con inteligencia.</h3>
            </div>

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /breadcrumb-wrapper -->




<!-- =========================================
White Section 1
========================================== -->
<!-- white-section -->
<section class="white-section">

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- col-md-4 -->
            <div class="col-md-4">

                <!-- feature-box-style3 -->
                <div class="feature-box-style3">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>¿ Por qué Nosotros ?</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <!-- icon -->
                        <i class="fa fa-question"></i>
                        <p>Porque contamos con personal altamente capacitado y con experiencia individual en áreas especificas de trabajo que proporcionan un vasto n&uacute;mero de posbilidades para satisfacer cualquier soluci&oacute;n; y como grupo de trabajo proporcionamos la suficiente eficiencia y eficacia para alcanzar cualquier tipo de objetivo.</p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style3 -->

            </div><!-- /col-md-4 -->


            <!-- col-md-4 -->
            <div class="col-md-4">

                <!-- feature-box-style3 -->
                <div class="feature-box-style3">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>¿ Qu&eacute; hacemos ?</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <!-- icon -->
                    <i class="fa fa-wrench"></i>
                    <p>Buscamos atender y resolver oportunamente los problemas existentes dentro de una organizaci&oacute;n, principalmente dentro del área de TI, mediante aplicaciones web y m&oacute;vil, generaci&oacute;n de APIs y servicios SOA; utilizando principalmente las metodolog&iacute;as, procesos, herramientas y tecnologías que actualmente se encuentran en auge, como las utilizadas dentro de Silicon Valley; as&iacute; como aquellas con las que nuestros clientes se encuentran identificados.</p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style3 -->

            </div><!-- /col-md-4 -->

            <!-- col-md-4 -->
            <div class="col-md-4">

                <!-- feature-box-style3 -->
                <div class="feature-box-style3">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>¿ D&oacute;nde trabajamos ?</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <!-- icon -->
                    <i class="fa fa-map-marker"></i>
                    <p>Ofrecemos la posibilidad de trabajar de forma remota o bien de manera presencial, en caso de requerir el cumplimiento de un horario o bolsa de horas, por el servicio de consultor&iacute;a o bien por reuniones de trabajo y avance de proyecto.</p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style3 -->

            </div><!-- /col-md-4 -->

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /white-section -->




<!-- =========================================
White Section 2
========================================== -->
<section class="white-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- col-md-4 -->
            <div class="col-md-4">

                <!-- feature-box-style3 -->
                <div class="feature-box-style3">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>¿ A qui&eacute;n ayudamos ?</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <!-- icon -->
                    <i class="fa fa-info"></i>
                    <p>Nuestros servicios est&aacute;n disponibles para atender cualquier organizaci&oacute;n o persona, sin distinci&oacute;n de giro o negocio al que se dedique, que requiera asesor&iacute;a o soluciones acertadas dentro del &aacute;rea de TI.</p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style3 -->

            </div><!-- /col-md-4 -->


            <!-- col-md-4 -->
            <div class="col-md-4">

                <!-- feature-box-style3 -->
                <div class="feature-box-style3">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>¡ Nuestra Mision !</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <!-- icon -->
                    <i class="fa fa-magic"></i>
                    <p>Nuestra mision es ofrecer soluciones, eficaces y eficientes, a cualquier problem&aacute;tica presente en al &aacute;rea de TI; proporcionando a nuestros clientes el mejor servicio y mayor calidad; rentabilidad creciente y sustentable para los accionistas; y posibilidades de crecimiento y desarrollo profesional a nuestros empleados.</p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style3 -->

            </div><!-- /col-md-4 -->

            <!-- col-md-4 -->
            <div class="col-md-4">

                <!-- feature-box-style3 -->
                <div class="feature-box-style3">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>¡ Nuestra Vision !</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <!-- icon -->
                    <i class="fa fa-magic"></i>
                    <p>Nuestra vision es convertirnos en la organización l&iacute;der en soluciones de TI de vanguardia, con continuo crecimiento y presencia multinacional, distinguiendonos por la eficiencia y eficacia del equipo de trabajo que la conforma.</p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style3 -->

            </div><!-- /col-md-4 -->

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /white-section -->




<!-- =========================================
White Section 3
========================================== -->
<section class="white-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- col-md-4 -->
            <div class="col-md-4">

                <!-- feature-box-style3 -->
                <div class="feature-box-style3">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>¡ Nuestros Valores !</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <!-- icon -->
                    <i class="fa fa-magic"></i>
                    <p>&Psi; Trabajo en equipo.<br>&Psi; Equidad.<br>&Psi; Balance personal y profesional.<br>&Psi; Innovacion y creatividad.<br>&Psi; Comprometidos.<br>&Psi; Proactivos.<br>&Psi; Practicos.<br>&Psi; Responsables.</p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style3 -->

            </div><!-- /col-md-4 -->


            <!-- col-md-4 -->
            <div class="col-md-4">

                <!-- feature-box-style3 -->
                <div class="feature-box-style3">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>¡ Nuestros Objetivos y Meta !</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <!-- icon -->
                    <i class="fa fa-bullseye"></i>
                    <p>&Omicron; Ser la empresa mexicana l&iacute;der en desarrollo de soluciones de TI m&aacute;s eficientes y eficaces.<br>&Omicron; Ser portavoces e introductores de las practicas y tecnolog&iacute;as de vanguardia, existentes en Estados Unidos, Europa y Asia, poni&eacute;ndolas al alcance de las organizaciones y personas en México.<br>&Mu; Ser proveedores de soluciones confiables y practicas que impulsen el crecimiento de la organizaci&oacute;n a nivel nacional.</p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style3 -->

            </div><!-- /col-md-4 -->

            <!-- col-md-4 -->
            <div class="col-md-4">

                <!-- feature-box-style3 -->
                <div class="feature-box-style3">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>¡ Nuestras Estrategias y Tactica !</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <!-- icon -->
                    <i class="fa fa-bullseye"></i>
                    <p>&Epsilon; Sinergia dentro del equipo de trabajo.<br>&Epsilon; Empatia con nuestros clientes.<br>&Epsilon; Respuesta oportuna a las necesidades de nuestros clientes y del mercado.<br>&Tau; Practica y evaluaci&oacute;n continua y generaci&oacute;n de conocimiento.</p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style3 -->

            </div><!-- /col-md-4 -->


        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /white-section -->




<!-- =========================================
Gray Section ( Our History )
========================================== -->
<!-- gray-section -->
<section class="gray-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- col-md-12 -->
            <div class="col-md-12">

                <!-- section-title -->
                <div class="section-title">

                    <!-- main-title -->
                    <div class="main-title">
                        <h2>Our Career History</h2>
                    </div><!-- /main-title -->

                    <!-- description-title -->
                    <div class="description-title">
                        <h3>We’re in the business from <span class="base-color" data-to="15" data-speed="2000">0</span> Years ago, and we offer about <span  class="base-color" data-to="1000" data-speed="2000">0</span> template.</h3>
                    </div><!-- /description-title -->

                </div><!-- /section-title -->

                <!-- timeline-graph -->
                <ul class="timeline-graph">

                    <li>
                        <!-- date -->
                        <time class="tm-dt" datetime="2013-04-11T12:04"><span>1 - 2014</span></time>
                        <!-- icon -->
                        <div class="tm-icon"><i class="fa fa-globe"></i></div>
                        <!-- content -->
                        <div class="tm-label">
                            <!-- title -->
                            <h4>Curabitur eget leo at velit imperdiet varius</h4>
                            <!-- post -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus.</p>
                        </div><!-- /content -->
                    </li>

                    <li>
                        <!-- date -->
                        <time class="tm-dt" datetime="2013-04-11T12:04"><span>12 - 2013</span></time>
                        <!-- icon -->
                        <div class="tm-icon"><i class="fa fa-mobile-phone"></i></div>
                        <!-- content -->
                        <div class="tm-label">
                            <!-- title -->
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <!-- post -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus.</p>
                        </div><!-- /content -->
                    </li>

                    <li>
                        <!-- date -->
                        <time class="tm-dt" datetime="2013-04-11T12:04"><span>11 - 2013</span></time>
                        <!-- icon -->
                        <div class="tm-icon"><i class="fa fa-globe"></i></div>
                        <!-- content -->
                        <div class="tm-label">
                            <!-- title -->
                            <h4>Consectetur adipiscing elit</h4>
                            <!-- post -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus.</p>
                        </div><!-- /content -->
                    </li>

                    <li>
                        <!-- date -->
                        <time class="tm-dt" datetime="2013-04-11T12:04"><span>10 - 2013</span></time>
                        <!-- icon -->
                        <div class="tm-icon"><i class="fa fa-mobile-phone"></i></div>
                        <!-- content -->
                        <div class="tm-label">
                            <!-- title -->
                            <h4>Curabitur eget leo at velit</h4>
                            <!-- post -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus.</p>
                        </div><!-- /content -->
                    </li>

                    <li>
                        <!-- date -->
                        <time class="tm-dt" datetime="2013-04-11T12:04"><span>09 - 2013</span></time>
                        <!-- icon -->
                        <div class="tm-icon"><i class="fa fa-globe"></i></div>
                        <!-- content -->
                        <div class="tm-label">
                            <!-- title -->
                            <h4>In eu ipsum vitae velit congue</h4>
                            <!-- post -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus.</p>
                        </div><!-- /content -->
                    </li>

                </ul><!-- /timeline-graph -->

            </div><!-- /col-md-12 -->

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /gray-section -->




<!-- =========================================
White Section ( Who We Are )
========================================== -->
<section class="white-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-md-4 -->
            <div class="col-md-4">

                <!-- text-widget -->
                <div class="text-widget">

                    <!-- text-widget-title -->
                    <div class="text-widget-title">
                        <h3>Quienes somos</h3>
                    </div><!-- /text-widget-title -->

                    <!-- text-widget-img -->
                    <div class="text-widget-img">
                        <img src="images/about-us.jpg" alt="About Us"/>
                    </div><!-- /text-widget-img -->

                    <p>Somos una organizaci&oacute;n enfocada en el an&aacute;lisis, diseño e implementación de soluciones, con el objetivo de resolver las necesidades existentes en el área de TI de una empresa o persona, con un mejor servicio y mayor calidad. Ofreciendo el conocimiento, la experiencia y las herramientas al alcance del cliente. Innovando y creciendo continuamente, apoy&aacute;ndonos con los mejores profesionales y expertos en TI, y las tecnolog&iacute;as en auge alrededor del mundo.</p>

                </div><!-- /text-widget -->

            </div><!-- /col-md-4 -->

            <!-- col-md-4 -->
            <div class="col-md-4">

                <!-- text-widget -->
                <div class="text-widget">

                    <!-- text-widget-title -->
                    <div class="text-widget-title">
                        <h3>Nuestras Hablidades</h3>
                    </div><!-- /text-widget-title -->

                    <!-- progress-bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-main" data-progress-percent="90%">
                            <!-- skill -->
                            <span>AMPQ aka RabbitMQ</span><span data-to="90">0</span>
                        </div>
                    </div><!-- /progress-bar -->

                    <!-- progress-bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-main"  data-progress-percent="95%">
                            <!-- skill -->
                            <span>AngularJS</span><span data-to="95">0</span>
                        </div>
                    </div><!-- /progress-bar -->

                    <!-- progress-bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                            <!-- skill -->
                            <span>Boostrap</span><span data-to="95">0</span>
                        </div>
                    </div><!-- /progress-bar -->

                    <!-- progress-bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                            <!-- skill -->
                            <span>CSS3</span><span data-to="95">0</span>
                        </div>
                    </div><!-- /progress-bar -->

                    <!-- progress-bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-main" data-progress-percent="85%">
                            <span>ExpressJS</span><span data-to="85">0</span>
                        </div>
                    </div><!-- /progress-bar -->

                    <!-- progress-bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-main" data-progress-percent="90%">
                            <span>HTML & HTML5</span><span data-to="90">0</span>
                        </div>
                    </div><!-- /progress-bar -->

                    <!-- progress-bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-main" data-progress-percent="90%">
                            <!-- skill -->
                            <span>JavaScript</span><span data-to="90">0</span>
                        </div>
                    </div><!-- /progress-bar -->

                    <!-- progress-bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-main" data-progress-percent="80%">
                            <!-- skill -->
                            <span>jQuery</span><span data-to="80">0</span>
                        </div>
                    </div><!-- /progress-bar -->

                    <!-- progress-bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                            <!-- skill -->
                            <span>MongoDB</span><span data-to="95">0</span>
                        </div>
                    </div><!-- /progress-bar -->

                    <!-- progress-bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-main" data-progress-percent="90%">
                            <!-- skill -->
                            <span>NodeJS</span><span data-to="90">0</span>
                        </div>
                    </div><!-- /progress-bar -->

                    <div>
                        <a data-toggle="modal" href="#/about-us#lwModal" title="M&aacute;s tecnolog&iacute;as">
                            <span>M&aacute;s tecnolog&iacute;as</span>
                            <i class="fa fa-link"></i>
                        </a>
                    </div>

                </div><!-- /text-widget -->

            </div><!-- /col-md-4 -->

            <!-- col-md-4 -->
            <div class="col-md-4">

                <!-- text-widget -->
                <div class="text-widget">

                    <!-- text-widget-title -->
                    <div class="text-widget-title">
                        <h3>Qu&eacute; Comentan los Clientes</h3>
                    </div><!-- /text-widget-title -->

                    <!-- testimonial-flexslider -->
                    <div id="testimonial-flexslider" class="flexslider testimonial-flexslider">
                        <!-- slides -->
                        <ul class="slides">

                            <!-- slide 1 -->
                            <li>
                                <!-- testimonial -->
                                <div class="testimonial">
                                    <p>Realmente supieron entender mi situaci&oacute;n y los requerimientos que solicitaba, y pudieron entregarme una soluci&oacute;n adecuada a mis necesidades, con la que en realidad estoy satisfecho, ya que he logrado establecer alianzas con diversos clientes del &aacute;mbito hotelero, que me permiten vender mejor mi servicio, adem&aacute;s que a los clientes les agrada la interfaz.</p>
                                </div><!-- /testimonial -->

                                <!-- arrow-down -->
                                <div class="arrow-down"></div>

                                <!-- client -->
                                <div class="client">
                                    <!-- thumbnail -->
                                    <div class="thumbnail">
                                        <img src="images/clients/client-1-60x60.jpg" alt="YoPlanner">
                                    </div><!-- /thumbnail -->

                                    <p><strong>YoPlanner</strong><span>YoPlanner Chief Manager</span></p>

                                </div><!-- /client -->
                            </li><!-- /slide 1 -->


                            <!-- slide 2 -->
                            <li>
                                <!-- testimonial -->
                                <div class="testimonial">
                                    <p>Estuvimos buscando una soluci&oacute;n eficaz para poder estar en contacto con los ciudadanos, para que pudieran conocer a sus representantes pol&iacute;ticos, y el equipo de Eliteware supo adecuarse a nuestros requerimientos y hacer realidad la aplicaci&oacute;n que necesit&aacute;bamos, ahora nos encontramos m&aacute;s cerca de los ciudadanos, conocer sus problem&aacute;ticas y recibir sus propuestas por medio de la aplicaci&oacute;n.</p>
                                </div><!-- /testimonial -->

                                <!-- arrow-down -->
                                <div class="arrow-down"></div>

                                <!-- client -->
                                <div class="client">
                                    <!-- thumbnail -->
                                    <div class="thumbnail">
                                        <img src="images/clients/client-2-60x60.jpg" alt="Client 2 Image">
                                    </div><!-- /thumbnail -->

                                    <p><strong>Jessica</strong><span>Client 2</span></p>

                                </div><!-- /client -->
                            </li><!-- /slide 2 -->

                        </ul><!-- /slides -->
                    </div><!-- /testimonial-flexslider -->

                </div><!-- /text-widget -->

            </div><!-- /col-md-4 -->


        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /section -->




<!-- =========================================
Gray Section ( Our Team )
========================================== -->
<!-- gray-section -->
<section class="gray-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- col-md-12 -->
            <div class="col-md-12">
                <!-- section-title -->
                <div class="section-title">

                    <!-- main-title -->
                    <div class="main-title">
                        <h2>Nuestro Equipo Impresionante</h2>
                    </div><!-- /main-title -->

                    <!-- description-title -->
                    <div class="description-title">
                        <h3>Un grupo de personas brillantes y altamente capacitados integran nuestro equipo.</h3>
                    </div><!-- /description-title -->

                </div><!-- /section-title -->
            </div><!-- /col-md-12 -->

            <!-- col-md-12 -->
            <div class="col-md-12 nopad">

            <!-- team-flexslider -->
            <div id="team-flexslider" class="flexslider team-flexslider">
                <!-- slides -->
                <ul class="slides">

                    <!-- slide 1 -->
                    <li>

                        <!-- team-style1 -->
                        <ul class="team-style1">

                            <!-- item 1 -->
                            <li>

                                <!-- img-cover -->
                                <div class="img-cover">
                                    <!-- image -->
                                    <img src="images/team/cover/thumbs/1-290x232.jpg" alt="member cover 1">
                                </div><!-- /img-cover -->

                                <!-- member-img -->
                                <div class="member-img">
                                    <div class="img-shine"></div>
                                    <!-- image -->
                                    <a href="./profiles/about-alfredo-godinez.html" title="Preview Profile">
                                        <img src="images/team/thumbs/1-290x290.jpg" alt="member Image 1">
                                    </a>
                                </div><!-- /member-img -->

                                <!-- title-caption -->
                                <div class="title-caption">
                                    <h3 class="name">Alfredo Godinez</h3>
                                    <p class="title">Diseñador</p>
                                </div><!-- /title-caption -->

                            </li><!-- /item 1 -->

                            <!-- item 2 -->
                            <li>

                                <!-- img-cover -->
                                <div class="img-cover">
                                    <!-- image -->
                                    <img src="images/team/cover/thumbs/2-290x232.jpg" alt="member cover 2">
                                </div><!-- /img-cover -->

                                <!-- member-img -->
                                <div class="member-img">
                                    <div class="img-shine"></div>
                                    <!-- image -->
                                    <a href="#/about-daniel-morales" title="Preview Profile">
                                        <img src="images/team/thumbs/2-290x290.jpg" alt="member Image 2">
                                    </a>
                                </div><!-- /member-img -->

                                <!-- title-caption -->
                                <div class="title-caption">
                                    <h3 class="name">Daniel Morales</h3>
                                    <p class="title">Full Stack Developer</p>
                                </div><!-- /title-caption -->

                            </li><!-- /item 2 -->

                            <!-- item 3 -->
                            <li>

                                <!-- img-cover -->
                                <div class="img-cover">
                                    <!-- image -->
                                    <img src="images/team/cover/thumbs/3-290x232.jpg" alt="member cover 3">
                                </div><!-- /img-cover -->

                                <!-- member-img -->
                                <div class="member-img">
                                    <div class="img-shine"></div>
                                    <!-- image -->
                                    <a href="about-me.html" title="Preview Profile">
                                        <img src="images/team/thumbs/3-290x290.jpg" alt="member Image 3">
                                    </a>
                                </div><!-- /member-img -->

                                <!-- title-caption -->
                                <div class="title-caption">
                                    <h3 class="name">Eladio Rodriguez</h3>
                                    <p class="title">Full Stack Developer</p>
                                </div><!-- /title-caption -->

                            </li><!-- /item 3 -->

                            <!-- item 4-->
                            <li>

                                <!-- img-cover -->
                                <div class="img-cover">
                                    <!-- image -->
                                    <img src="images/team/cover/thumbs/4-290x232.jpg" alt="member cover 4">
                                </div><!-- /img-cover -->

                                <!-- member-img -->
                                <div class="member-img">
                                    <div class="img-shine"></div>
                                    <!-- image -->
                                    <a href="about-me.html" title="Preview Profile">
                                        <img src="images/team/thumbs/4-290x290.jpg" alt="member Image 4">
                                    </a>
                                </div><!-- /member-img -->

                                <!-- title-caption -->
                                <div class="title-caption">
                                    <h3 class="name">Oscar García</h3>
                                    <p class="title">Full Stack Developer</p>
                                </div><!-- /title-caption -->

                            </li><!-- /item 4 -->

                        </ul><!-- /team-style1 -->

                    </li><!-- /slide 1 -->


                    <!-- slide 2 -->
                    <li>
                        <!-- team-style1 -->
                        <ul class="team-style1">

                            <!-- item 5 -->
                            <li>

                                <!-- img-cover -->
                                <div class="img-cover">
                                    <!-- image -->
                                    <img src="images/team/cover/thumbs/5-290x232.jpg" alt="member cover 5">
                                </div><!-- /img-cover -->

                                <!-- member-img -->
                                <div class="member-img">
                                    <div class="img-shine"></div>
                                    <!-- image -->
                                    <a href="about-me.html" title="Preview Profile">
                                        <img src="images/team/thumbs/5-290x290.jpg" alt="member Image 5">
                                    </a>
                                </div><!-- /member-img -->

                                <!-- title-caption -->
                                <div class="title-caption">
                                    <h3 class="name">Oscar Monroy</h3>
                                    <p class="title">Full Stack Developer</p>
                                </div><!-- /title-caption -->

                            </li><!-- /item 5 -->

                            <!-- item 6 -->
                            <li>

                                <!-- img-cover -->
                                <div class="img-cover">
                                    <!-- image -->
                                    <img src="images/team/cover/thumbs/6-290x232.jpg" alt="member cover 6">
                                </div><!-- /img-cover -->

                                <!-- member-img -->
                                <div class="member-img">
                                    <div class="img-shine"></div>
                                    <!-- image -->
                                    <a href="about-me.html" title="Preview Profile">
                                        <img src="images/team/thumbs/6-290x290.jpg" alt="member Image 6">
                                    </a>
                                </div><!-- /member-img -->

                                <!-- title-caption -->
                                <div class="title-caption">
                                    <h3 class="name">Oscar Vega</h3>
                                    <p class="title">Full Stack Developer</p>
                                </div><!-- /title-caption -->

                            </li><!-- /item 6 -->

                            <!-- item 7 -->
                            <li>

                                <!-- img-cover -->
                                <div class="img-cover">
                                    <!-- image -->
                                    <img src="images/team/cover/thumbs/7-290x232.jpg" alt="member cover 7">
                                </div><!-- /img-cover -->

                                <!-- member-img -->
                                <div class="member-img">
                                    <div class="img-shine"></div>
                                    <!-- image -->
                                    <a href="about-me.html" title="Preview Profile">
                                        <img src="images/team/thumbs/7-290x290.jpg" alt="member Image 7">
                                    </a>
                                </div><!-- /member-img -->

                                <!-- title-caption -->
                                <div class="title-caption">
                                    <h3 class="name">Rafael Delgadillo</h3>
                                    <p class="title">Full Stack Developer</p>
                                </div><!-- /title-caption -->

                            </li><!-- /item 7 -->

                            <!-- item 8 -->
                            <li>

                                <!-- img-cover -->
                                <div class="img-cover">
                                    <!-- image -->
                                    <img src="images/team/cover/thumbs/8-290x232.jpg" alt="member cover 8">
                                </div><!-- /img-cover -->

                                <!-- member-img -->
                                <div class="member-img">
                                    <div class="img-shine"></div>
                                    <!-- image -->
                                    <a href="about-me.html" title="Preview Profile">
                                        <img src="images/team/thumbs/8-290x290.jpg" alt="member Image 8">
                                    </a>
                                </div><!-- /member-img -->

                                <!-- title-caption -->
                                <div class="title-caption">
                                    <h3 class="name">Angelina Doe</h3>
                                    <p class="title">Developer</p>
                                </div><!-- /title-caption -->

                            </li><!-- /item 8 -->

                        </ul><!-- /team-style1 -->

                    </li><!-- /slide 2 -->

                </ul><!-- /slides -->
            </div><!-- /team-flexslider -->

            </div><!-- /col-md-12 -->

            <!-- col-md-12 -->
            <div class="col-md-12">

                <!-- attention-box -->
                <div class="attention-box-small">
                    <h3><span class="base-color">T&uacute;</span> estas aun paso de unirte, envianos tu Curriculum Vitae</h3>
                    <a href="javascript:void(0)" class="btn btn-lg btn-main" title="&Uacute;nete">&Uacute;nete</a>
                </div><!-- /attention-box -->

            </div><!-- /col-md-12 -->

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /gray-section -->




<!-- =========================================
Latest Work Modal
========================================== -->
<!-- modal -->
<div class="modal fade" id="lwModal" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- modal-dialog -->
            <div class="modal-dialog">
                <!-- modal-content -->
                <div class="modal-content">


                    <!-- modal-header -->
                    <div class="modal-header">
                        <!-- X close -->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <!-- modal-title -->
                        <h3 class="modal-title base-color">Nuestras Hablidades</h3>
                    </div><!-- /modal-header -->


                    <!-- modal-body -->
                    <div class="modal-body">

                        <!-- col-md-4 -->
                        <div class="col-md-4">

                            <!-- text-widget -->
                            <div class="text-widget">

                                <!-- text-widget-title -->
                                <div class="text-widget-title">
                                    <h3>Nuestras Hablidades</h3>
                                </div><!-- /text-widget-title -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>AMPQ aka RabbitMQ</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main"  data-progress-percent="90%">
                                        <!-- skill -->
                                        <span>AngularJS</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>Boostrap</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>CSS3</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <span>ExpressJS</span><span data-to="85">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="90%">
                                        <span>HTML & HTML5</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="85%">
                                        <!-- skill -->
                                        <span>JavaScript</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>jQuery</span><span data-to="80">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>MongoDB</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>NodeJS</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                            </div><!-- /text-widget -->

                        </div><!-- /col-md-4 -->

                        <!-- col-md-4 -->
                        <div class="col-md-4">

                            <!-- text-widget -->
                            <div class="text-widget">

                                <!-- text-widget-title -->
                                <div class="text-widget-title">
                                    <h3>Nuestras Hablidades</h3>
                                </div><!-- /text-widget-title -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>AMPQ aka RabbitMQ</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main"  data-progress-percent="90%">
                                        <!-- skill -->
                                        <span>AngularJS</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>Boostrap</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>CSS3</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <span>ExpressJS</span><span data-to="85">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="90%">
                                        <span>HTML & HTML5</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- text-widget-title -->
                                <div class="text-widget-title">
                                    <h3>Nuestras Hablidades</h3>
                                </div><!-- /text-widget-title -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="85%">
                                        <!-- skill -->
                                        <span>JavaScript</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>jQuery</span><span data-to="80">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>MongoDB</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>NodeJS</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                            </div><!-- /text-widget -->

                        </div><!-- /col-md-4 -->

                        <!-- col-md-4 -->
                        <div class="col-md-4">

                            <!-- text-widget -->
                            <div class="text-widget">

                                <!-- text-widget-title -->
                                <div class="text-widget-title">
                                    <h3>Nuestras Hablidades</h3>
                                </div><!-- /text-widget-title -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>AMPQ aka RabbitMQ</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main"  data-progress-percent="90%">
                                        <!-- skill -->
                                        <span>AngularJS</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>Boostrap</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>CSS3</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <span>ExpressJS</span><span data-to="85">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="90%">
                                        <span>HTML & HTML5</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="85%">
                                        <!-- skill -->
                                        <span>JavaScript</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>jQuery</span><span data-to="80">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>MongoDB</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>NodeJS</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                            </div><!-- /text-widget -->

                        </div><!-- /col-md-4 -->

                    </div><!-- /modal-body -->


                    <!-- modal-footer -->
                    <div class="modal-footer">
                        <!-- close button -->
                        <a class="btn btn-main-o" data-dismiss="modal" title="Close" href="javascript:void(0)">Close</a>
                    </div><!-- modal-footer -->


                </div><!-- /modal-content -->
            </div><!-- /modal-dialog -->

        </div><!-- /row -->
    </div><!-- /container -->

</div><!-- /modal -->

<script>
    /* ==========================================================================
     Section Title Counter
     ========================================================================== */
    $(".section-title [data-to]").each(function () {
        var $this = $(this);

        $this.waypoint(function () {
            $this.countTo({});
        }, {offset: '60%', triggerOnce: true});
    });


    /* ==========================================================================
     Progress Bars Animation
     ========================================================================== */
    $("[data-progress-percent]").each(function () {
        var $this = $(this);

        $this.waypoint(function () {
            $this.animate({
                width: $this.attr("data-progress-percent")
            }, 1700, "linear");
        }, {offset: '100%', triggerOnce: true });
    });

    $(".progress [data-to]").each(function () {
        var $this = $(this);

        $this.waypoint(function () {
            $this.countTo({speed: 2000});
        }, {offset: '100%', triggerOnce: true});
    });
</script>
