<!-- =========================================
breadcrumb
========================================== -->
<!-- breadcrumb-wrapper -->
<section class="breadcrumb-wrapper">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="page-description">
                <h3>¡Hola!, escribemos, conócenos, comprueba que somos la mejor opcion, siempre tendrémos una solución para ti .</h3>
            </div>

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /breadcrumb-wrapper -->




<!-- =========================================
White Section
========================================== -->
<div id="map1"></div>
<!-- =========================================
Gray Section ( Our History )
========================================== -->
<!-- gray-section -->
<section class="gray-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- contact -->
            <div class="contact">

                <!-- =========================================
                Get in touch
                ========================================== -->
                <!-- col-md-4 -->
                <div class="col-md-4">

                    <!-- short-section-title -->
                    <div class="short-section-title">
                        <h3>Te espermos</h3>
                    </div><!-- /short-section-title -->

                    <!-- contact-details -->
                    <ul class="contact-details">
                        <li>
                            <span class="title">Calle</span>
                            <span class="value">Antonio M. Anza Roma</span>
                        </li>
                        <li>
                            <span class="title">Delegacion</span>
                            <span class="value">Cuauhtemoc</span>
                        </li>
                        <li>
                            <span class="title">Ciudad</span>
                            <span class="value">Mexico</span>
                        </li>
                        <li>
                            <span class="title">Pais</span>
                            <span class="value">Mexico</span>
                        </li>
                    </ul><!-- /contact-details -->

                </div><!-- /col-md-4 -->

                <!-- =========================================
                General Inquiries
                ========================================== -->
                <!-- col-md-4 -->
                <div class="col-md-4">

                    <!-- short-section-title -->
                    <div class="short-section-title">
                        <h3>Formas de contacto</h3>
                    </div><!-- /short-section-title -->

                    <!-- contact-details -->
                    <ul class="contact-details">
                        <li>
                            <span class="title">Telefono Fijo</span>
                            <span class="value">+2 1234567890</span>
                        </li>
                        <li>
                            <span class="title">Telefono Movil</span>
                            <span class="value">+2 1234567890</span>
                        </li>
                        <li>
                            <span class="title">Informes</span>
                            <span class="value">informes@eliteware.io</span>
                        </li>
                        <li>
                            <span class="title">Soporte</span>
                            <span class="value">soporte@eliteware.io</span>
                        </li>
                    </ul><!-- /contact-details -->

                </div><!-- /col-md-4 -->

                <!-- =========================================
                Business Hours
                ========================================== -->
                <!-- col-md-4 -->
                <div class="col-md-4">

                    <!-- short-section-title -->
                    <div class="short-section-title">
                        <h3>Horario de Atención</h3>
                    </div><!-- /short-section-title -->

                    <!-- contact-details -->
                    <ul class="contact-details">
                        <li>
                            <span class="title">Lunes - Viernes</span>
                            <span class="value">8 am a 6 pm</span>
                        </li>
                        <li>
                            <span class="title">Sabado</span>
                            <span class="value">9 am a 2 pm</span>
                        </li>
                        <li>
                            <span class="title">Domingo</span>
                            <span class="value">Cerrado</span>
                        </li>
                        <li>
                            <span class="title">Soporte 24 / 7 escríbenos.</span>
                        </li>
                    </ul><!-- /contact-details -->

                </div><!-- /col-md-4 -->

            </div><!-- /contact -->

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /gray-section -->



<!-- =========================================
Gray Section
========================================== -->
<!-- gray-section -->
<section class="gray-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- =========================================
            Frequently Asked Questions
            ========================================== -->
            <!-- col-md-6 -->
            <div class="col-md-6" ng-show="false">

                <!-- short-section-title -->
                <div class="short-section-title">
                    <h3>Instrucciones de contacto</h3>
                </div><!-- /short-section-title -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Por favor, lee las siguientes indicaciones antes de contactarnos</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <i class="fa fa-check base-color"></i> Nulla dignissim consectetur nisi, vitae aliquet purus molestie id.
                        </p>
                        <p>
                            <i class="fa fa-check base-color"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <p>
                            <i class="fa fa-check base-color"></i> Pellentesque ornare mauris justo, pellentesque sapien mollis quis.
                        </p>
                        <p>
                            <i class="fa fa-check base-color"></i> Donec at pharetra felis. Nulla felis vitae pretium ullamcorper.
                        </p>
                        <p>
                            <i class="fa fa-check base-color"></i> Donec molestie ligula ac sapien tristique, et semper enim faucibus.
                        </p>
                        <p>
                            <i class="fa fa-check base-color"></i> Donec venenatis porttitor nunc quis sagittis.
                        </p>
                        <p>
                            <i class="fa fa-check base-color"></i> Praesent ultricies, justo quis posuere eleifend.
                        </p>
                        <p>
                            <i class="fa fa-check base-color"></i> Mauris felis felis, suscipit nec aliquam id, lacinia sed lacus.
                        </p>
                        <p>
                            <i class="fa fa-check base-color"></i> Vestibulum elementum aliquet velit, scelerisque sapien luctus vitae.
                        </p>
                        <p>
                            <i class="fa fa-check base-color"></i> Mauris sit amet nisl in turpis sagittis tincidunt.
                        </p>
                        <p>
                            <i class="fa fa-check base-color"></i> Praesent id erat placerat, tempor purus in, accumsan nunc.
                        </p>
                        <p>
                            <i class="fa fa-check base-color"></i> Suspendisse pretium dignissim nisl.
                        </p>
                        <p>
                            <i class="fa fa-check base-color"></i> Praesent sit amet odio quis est accumsan gravida eget ut nibh.
                        </p>
                    </div>
                </div>

            </div><!-- /col-md-6 -->


            <!-- =========================================
            Contact Us
            ========================================== -->
            <!-- col-md-6 -->
            <div class="col-md-6">

                <!-- short-section-title -->
                <div class="short-section-title">
                    <h3>Contáctanos</h3>
                </div><!-- /short-section-title -->


                <!-- form -->
                <form role="form" id="form" class="contactForm" method="post" action="php/send.php">

                    <!-- Contact Name -->
                    <div class="form-group">
                        <label for="contact-name" class="control-label">Nombre <span>( Requerido )</span></label>
                        <div class="controls">
                        <input type="text" class="form-control requiredField" placeholder="¿Como te llamas?" name="name">
                        </div>
                    </div><!-- /Contact Name -->


                    <!-- Contact Mail -->
                    <div class="form-group">
                        <label for="contact-mail" class="control-label">Email <span>( Requerido )</span></label>
                        <div class="controls">
                            <input type="email" class="form-control requiredField" placeholder="¿Cual es tu correo electrónico?" name="email">
                        </div>
                    </div><!-- /Contact Mail -->

                    <!-- Contact Subject -->
                    <div class="form-group">
                        <label for="contact-subject" class="control-label">Titulo <span>( Requerido )</span></label>
                        <div class="controls">
                            <input type="text" class="form-control requiredField" placeholder="Escribe el titulo de tú mensaje" name="subject">
                        </div>
                    </div><!-- /Contact Subject -->

                    <!-- Contact Message -->
                    <div class="form-group">
                        <label for="contact-message" class="control-label">Mensaje <span>( Requerido )</span></label>
                        <div class="controls">
                            <textarea rows="10" class="form-control requiredField" placeholder="Escribe tu mensaje" name="message"></textarea>
                        </div>
                    </div><!-- /Contact Message -->

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-main">Enviar</button>
                </form><!-- /form -->
            </div><!-- /col-md-6 -->
            
        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /gray-section -->
<script type="text/javascript">
    $(document).ready(function () {
        var map;
        map = new GMaps({
            el: '#map1',
            scrollwheel: false,
            lat: 19.4118091,
            lng: -99.1586253
        });
        map.addMarker({
            lat: 19.4118091,
            lng: -99.1586253,
            icon: "images/we-are-here.png"
        });
    });
</script>
