
        <!-- =========================================
        breadcrumb
        ========================================== -->
        <!-- breadcrumb-wrapper -->
        <section class="breadcrumb-wrapper">
            <!-- container -->
		    <div class="container">
		        <!-- row -->
		        <div class="row">

                    <div class="page-description">
                        <h3>Submit a tip or just say hello, big or small, we've got a solution when you need it.</h3>
                    </div>

                </div><!-- /row -->
            </div><!-- /container -->
        </section><!-- /breadcrumb-wrapper -->




        <!-- =========================================
        White Section
        ========================================== -->
        <div id="map1"></div>




        <!-- =========================================
        Gray Section ( Our History )
        ========================================== -->
        <!-- gray-section -->
		<section class="gray-section">
		    <!-- container -->
		    <div class="container">
		        <!-- row -->
		        <div class="row">

                    <!-- contact -->
                    <div class="contact">

                        <!-- =========================================
                        Get in touch
                        ========================================== -->
                        <!-- col-md-4 -->
                        <div class="col-md-4">

                            <!-- short-section-title -->
                            <div class="short-section-title">
                                <h3>Get in touch</h3>
                            </div><!-- /short-section-title -->

                            <!-- contact-details -->
                            <ul class="contact-details">
                                <li>
                                    <span class="title">Street NO. - Flat NO.</span>
                                    <span class="value">6 - 24</span>
                                </li>
                                <li>
                                    <span class="title">Street Name</span>
                                    <span class="value">Street Name</span>
                                </li>
                                <li>
                                    <span class="title">City Name</span>
                                    <span class="value">Giza</span>
                                </li>
                                <li>
                                    <span class="title">Country Name</span>
                                    <span class="value">Egypt</span>
                                </li>
                            </ul><!-- /contact-details -->

                        </div><!-- /col-md-4 -->

                        <!-- =========================================
                        General Inquiries
                        ========================================== -->
                        <!-- col-md-4 -->
                        <div class="col-md-4">

                            <!-- short-section-title -->
                            <div class="short-section-title">
                                <h3>General Inquiries</h3>
                            </div><!-- /short-section-title -->

                            <!-- contact-details -->
                            <ul class="contact-details">
                                <li>
                                    <span class="title">Fax</span>
                                    <span class="value">+2 1234567890</span>
                                </li>
                                <li>
                                    <span class="title">Mobile</span>
                                    <span class="value">+2 1234567890</span>
                                </li>
                                <li>
                                    <span class="title">Sales</span>
                                    <span class="value">Sales@eliteware.io</span>
                                </li>
                                <li>
                                    <span class="title">Support</span>
                                    <span class="value">Support@eliteware.io</span>
                                </li>
                            </ul><!-- /contact-details -->

                        </div><!-- /col-md-4 -->

                        <!-- =========================================
                        Business Hours
                        ========================================== -->
                        <!-- col-md-4 -->
                        <div class="col-md-4">

                            <!-- short-section-title -->
                            <div class="short-section-title">
                                <h3>Business Hours</h3>
                            </div><!-- /short-section-title -->

                            <!-- contact-details -->
                            <ul class="contact-details">
                                <li>
                                    <span class="title">Monday - Friday</span>
                                    <span class="value">8 am to 4 pm</span>
                                </li>
                                <li>
                                    <span class="title">Saturday</span>
                                    <span class="value">9 am to 2 pm</span>
                                </li>
                                <li>
                                    <span class="title">Sunday</span>
                                    <span class="value">Closed</span>
                                </li>
                                <li>
                                    <span class="title">Support 24 / 7 just email us.</span>
                                </li>
                            </ul><!-- /contact-details -->

                        </div><!-- /col-md-4 -->

		            </div><!-- /contact -->

		        </div><!-- /row -->
		    </div><!-- /container -->
        </section><!-- /gray-section -->




        <!-- =========================================
        Blur2 Section ( Growing )
        ========================================== -->
        <section class="blur2-section">
            <!-- container -->
		    <div class="container">
		        <!-- row -->
		        <div class="row">

		            <!-- circle-progress-wrapper -->
		            <div class="circle-progress-wrapper">

                        <ul>

                            <li>
                                <!-- round-skill -->
                                <div class="round-skill">
                                    <input type="text" class="skill-chart animated" />
                                    <div class="facebook_Count"></div>
                                    <h3>Facebook</h3>
                                </div><!-- /round-skill -->
                            </li>


                            <li>
                                <!-- round-skill -->
                                <div class="round-skill">
                                    <input type="text" class="skill-chart animated" />
                                    <div class="youtube_Count"></div>
                                    <h3>Youtube</h3>
                                </div><!-- /round-skill -->
                            </li>


                            <li>
                                <!-- round-skill -->
                                <div class="round-skill">
                                    <input type="text" class="skill-chart animated" />
                                    <h2>1500</h2>
                                    <h3>Twitter</h3>
                                </div><!-- /round-skill -->
                            </li>


                            <li>
                                <!-- round-skill -->
                                <div class="round-skill">
                                    <input type="text" class="skill-chart animated" />
                                    <h2>2500</h2>
                                    <h3>Google+</h3>
                                </div><!-- /round-skill -->
                            </li>


                            <li>
                                <!-- round-skill -->
                                <div class="round-skill">
                                    <input type="text" class="skill-chart animated" />
                                    <h2>2000</h2>
                                    <h3>Pinterest</h3>
                                </div><!-- /round-skill -->
                            </li>


                            <li>
                                <!-- round-skill -->
                                <div class="round-skill">
                                    <input type="text" class="skill-chart animated" />
                                    <h2>3000</h2>
                                    <h3>Dribbble</h3>
                                </div><!-- /round-skill -->
                            </li>

		                </ul>
		            </div><!-- /circle-progress-wrapper -->

		        </div><!-- /row -->
		    </div><!-- /container -->
        </section><!-- /section -->




        <!-- =========================================
        Gray Section
        ========================================== -->
        <!-- gray-section -->
        <section class="gray-section">
            <!-- container -->
		    <div class="container">
		        <!-- row -->
		        <div class="row">

		            <!-- =========================================
                    Frequently Asked Questions
                    ========================================== -->
                    <!-- col-md-6 -->
                    <div class="col-md-6">

                        <!-- short-section-title -->
                        <div class="short-section-title">
                            <h3>Contact Us instruction</h3>
                        </div><!-- /short-section-title -->

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Please read these instruction carfully before Contacting Us</h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <i class="fa fa-check base-color"></i> Nulla dignissim consectetur nisi, vitae aliquet purus molestie id.
                                </p>
                                <p>
                                    <i class="fa fa-check base-color"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                                <p>
                                    <i class="fa fa-check base-color"></i> Pellentesque ornare mauris justo, pellentesque sapien mollis quis.
                                </p>
                                <p>
                                    <i class="fa fa-check base-color"></i> Donec at pharetra felis. Nulla felis vitae pretium ullamcorper.
                                </p>
                                <p>
                                    <i class="fa fa-check base-color"></i> Donec molestie ligula ac sapien tristique, et semper enim faucibus.
                                </p>
                                <p>
                                    <i class="fa fa-check base-color"></i> Donec venenatis porttitor nunc quis sagittis.
                                </p>
                                <p>
                                    <i class="fa fa-check base-color"></i> Praesent ultricies, justo quis posuere eleifend.
                                </p>
                                <p>
                                    <i class="fa fa-check base-color"></i> Mauris felis felis, suscipit nec aliquam id, lacinia sed lacus.
                                </p>
                                <p>
                                    <i class="fa fa-check base-color"></i> Vestibulum elementum aliquet velit, scelerisque sapien luctus vitae.
                                </p>
                                <p>
                                    <i class="fa fa-check base-color"></i> Mauris sit amet nisl in turpis sagittis tincidunt.
                                </p>
                                <p>
                                    <i class="fa fa-check base-color"></i> Praesent id erat placerat, tempor purus in, accumsan nunc.
                                </p>
                                <p>
                                    <i class="fa fa-check base-color"></i> Suspendisse pretium dignissim nisl.
                                </p>
                                <p>
                                    <i class="fa fa-check base-color"></i> Praesent sit amet odio quis est accumsan gravida eget ut nibh.
                                </p>
                            </div>
                        </div>

                    </div><!-- /col-md-6 -->


		            <!-- =========================================
                    Contact Us
                    ========================================== -->
		            <!-- col-md-6 -->
		            <div class="col-md-6">

                        <!-- short-section-title -->
                        <div class="short-section-title">
                            <h3>Contact Us</h3>
                        </div><!-- /short-section-title -->


                        <!-- form -->
                        <form role="form" id="form" class="contactForm" method="post" action="php/send.php">

                            <!-- Contact Name -->
                            <div class="form-group">

                                <label for="contact-name" class="control-label">Name <span>( Required )</span></label>

                                <div class="controls">

                                <input type="text" class="form-control requiredField" placeholder="Your name" name="name">

                                </div>

                            </div><!-- /Contact Name -->



                            <!-- Contact Mail -->
                            <div class="form-group">

                                <label for="contact-mail" class="control-label">Email <span>( Required )</span></label>

                                <div class="controls">

                                    <input type="email" class="form-control requiredField" placeholder="Your email" name="email">

                                </div>

                            </div><!-- /Contact Mail -->


                            <!-- Contact Subject -->
                            <div class="form-group">

                                <label for="contact-subject" class="control-label">Subject <span>( Required )</span></label>

                                <div class="controls">

                                    <input type="text" class="form-control requiredField" placeholder="Subject" name="subject">

                                </div>

                            </div><!-- /Contact Subject -->


                            <!-- Contact Message -->
                            <div class="form-group">

                                <label for="contact-message" class="control-label">Message <span>( Required )</span></label>

                                <div class="controls">

                                    <textarea rows="10" class="form-control requiredField" placeholder="Your message" name="message"></textarea>

                                </div>

                            </div><!-- /Contact Message -->

                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-main">Submit</button>

                        </form><!-- /form -->

                    </div><!-- /col-md-6 -->

		        </div><!-- /row -->
		    </div><!-- /container -->
        </section><!-- /gray-section -->

        <script src="js/Eliteware.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                var map;
                map = new GMaps({
                    el: '#map1',
                    scrollwheel: false,
                    lat: 29.983775,
                    lng: 31.167161
                });
                map.addMarker({
                    lat: 29.983775,
                    lng: 31.167161,
                    icon: "images/we-are-here.png"
                });
            });
        </script>
