
        <!-- =========================================
            Home Section ( Slider )
        ========================================== -->
        <!-- home-section -->
        <section id="home-section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- flexslider home-slider -->
                    <div class="flexslider home-slider">
                        <!-- slides -->
                        <ul class="slides">
                            <!-- slide 1 -->
                            <li>
                                <!-- flex-caption -->
                                <div class="flex-caption">
                                    <!-- caption-animation -->
                                    <div class="caption-animation">
                                        <!-- caption-1 -->
                                        <div class="caption-1">
                                            <h1>Eliteware/Soluciones TI</h1>
                                        </div><!-- /caption-1 -->
                                        <!-- caption-2 -->
                                        <div class="caption-2">
                                            <h3>Soluciones Eficientes e Inteligentes.<i class="fa fa-smile"></i></h3>
                                        </div><!-- /caption-2 -->
                                        <!-- caption-3 -->
                                        <div class="caption-3">
                                            <a href="javascript:void(0)" class="animated1"><i class="fa fa-html5"></i></a>
                                            <a href="javascript:void(0)" class="animated2"><i class="fa fa-css3"></i></a>
                                            <a href="javascript:void(0)" class="animated3 base-slider-bg-color"><i class="fa fa-check"></i></a>
                                        </div><!-- /caption-3 -->
                                    </div><!-- /caption-animation -->
                                </div><!-- /flex-caption -->
                            </li><!-- /slide 1 -->

                            <!-- slide 2 -->
                            <li>
                                <!-- flex-caption -->
                                <div class="flex-caption">
                                    <!-- caption-animation -->
                                    <div class="caption-animation">

                                        <!-- caption-1 -->
                                        <div class="caption-1">
                                            <h1 class="base-slider-bg-color">Somos unos locos apasionados</h1>
                                        </div><!-- /caption-1 -->

                                        <!-- caption-2 -->
                                        <div class="caption-2">
                                            <h3>Cada línea de código que hacemos es con pasión.<i class="fa fa-smile"></i></h3>
                                        </div><!-- /caption-2 -->

                                        <!-- caption-3 -->
                                        <div class="caption-3">
                                            <a href="javascript:void(0)" class="animated1"><i class="fa fa-thumbs-o-up"></i></a>
                                            <a href="javascript:void(0)" class="animated2"><i class="fa fa-code"></i></a>
                                            <a href="javascript:void(0)" class="animated3"><i class="fa fa-heart-o"></i></a>
                                        </div><!-- /caption-3 -->

                                    </div><!-- /caption-animation -->
                                </div><!-- /flex-caption -->
                            </li><!-- /slide 2 -->

                            <!-- slide 3 -->
                            <li>
                                <!-- flex-caption -->
                                <div class="flex-caption">
                                    <!-- caption-animation -->
                                    <div class="caption-animation">

                                        <!-- caption-1 -->
                                        <div class="caption-1">
                                            <h1>¿Quieres saber mas de nosotros?</h1>
                                        </div><!-- /caption-1 -->

                                        <!-- caption-2 -->
                                        <div class="caption-2">
                                            <h3 class="base-slider-bg-color">¡Envianos un correo!, te responderemos personalmente<i class="fa fa-smile"></i></h3>
                                        </div><!-- /caption-2 -->

                                        <!-- caption-3 -->
                                        <div class="caption-3">
                                            <a href="javascript:void(0)" class="animated1"><i class="fa fa-question-circle"></i></a>
                                            <a href="javascript:void(0)" class="animated2"><i class="fa fa-meh-o"></i></a>
                                            <a href="javascript:void(0)" class="animated3"><i class="fa fa-clock-o"></i></a>
                                            <a href="javascript:void(0)" class="animated4"><i class="fa fa-envelope-o"></i></a>
                                        </div><!-- /caption-3 -->

                                    </div><!-- /caption-animation -->
                                </div><!-- /flex-caption -->
                            </li><!-- /slide 3 -->

                        </ul><!-- /slides -->
                    </div><!-- /flexslider home-slider -->
                </div> <!-- /row -->
            </div><!-- /container -->
        </section><!-- /home-section -->




        <!-- =========================================
        White Section ( feature boxs style 1 )
        ========================================== -->
        <!-- white-section -->
        <section class="white-section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">

                    <!-- feature-boxs-wrapper1 -->
                    <div class="feature-boxs-wrapper1">

                        <!-- col-md-4 -->
                        <div class="col-md-4">
                            <!-- feature-box-style1 -->
                            <div class="feature-box-style1">

                                <!-- feature-box-title -->
                                <div class="feature-box-title">
                                    <i class="fa fa-globe"></i><h3>Al último grito en Tecnología </h3>
                                </div><!-- /feature-box-title -->

                                <!-- feature-box-containt -->
                                <div class="feature-box-containt">
                                    <p>
                                        En Eliteware nuestros colaboradores son expertos en tecnologías cuya demanda
                                        en México es alta e importamos tambien aquella que actualmente
                                        se esta usando en Silicon Valley.
                                    </p>
                                </div><!-- /feature-box-containt -->

                            </div><!-- /feature-box-style1 -->
                        </div><!-- /col-md-4 -->

                        <!-- col-md-4 -->
                        <div class="col-md-4">
                            <!-- feature-box-style1 -->
                            <div class="feature-box-style1">

                                <!-- feature-box-title -->
                                <div class="feature-box-title">
                                    <i class="fa fa-cogs"></i><h3>Sinergia</h3>
                                </div><!-- /feature-box-title -->

                                <!-- feature-box-containt -->
                                <div class="feature-box-containt">
                                    <p>
                                       Eliteware esta conformado de grandes profesionistas con diversos conocimientos en el área de TI.
                                        Llevamos trabajando juntos más de 5 años lo que nos ha convertido en un equipo muy poderoso que
                                        puede dar solución a cualquier tipo de necesidad en TI.
                                    </p>
                                </div><!-- /feature-box-containt -->

                            </div><!-- /feature-box-style1 -->
                        </div><!-- /col-md-4 -->

                        <!-- col-md-4 -->
                        <div class="col-md-4">
                            <!-- feature-box-style1 -->
                            <div class="feature-box-style1">

                                <!-- feature-box-title -->
                                <div class="feature-box-title">
                                    <i class="fa fa-book"></i><h3>Innovación</h3>
                                </div><!-- /feature-box-title -->

                                <!-- feature-box-containt -->
                                <div class="feature-box-containt">
                                    <p>
                                        En Eliteware estamos innovando a cada instante, la forma de dar soluciones inteligentes
                                        se da unicamente con la continua capacitación y actualizacion. Somos de las personas hambrientas
                                        de conocimientos el cual nos gusta compartirlo con los demás.
                                    </p>
                                </div><!-- /feature-box-containt -->

                            </div><!-- /feature-box-style1 -->
                        </div><!-- /col-md-4 -->

                    </div><!-- /feature-boxs-wrapper1 -->

                </div> <!-- /row -->
            </div><!-- /container -->
        </section><!-- /white-section -->




        <!-- =========================================
        Gray Section ( Latest Works )
        ========================================== -->
        <!-- gray-section -->
        <section class="gray-section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">

                    <!-- col-md-12 -->
                    <div class="col-md-12">
                        <!-- section-title -->
                        <div class="section-title">

                            <!-- main-title -->
                            <div class="main-title">
                                <h2>Nuestros últimos trabajos</h2>
                            </div><!-- /main-title -->

                            <!-- description-title -->
                            <div class="description-title">
                                <h3>El fruto de nuestro trabajo, te presentamos algunos de nuestros proyectos.</h3>
                            </div><!-- /description-title -->

                        </div><!-- /section-title -->
                    </div><!-- /col-md-12 -->

                    <!-- latest-works -->
                    <ul class="latest-works">

                        <!-- item 1 -->
                        <li>

                            <!-- img-figure-overlayer -->
                            <div class="img-figure-overlayer">
                                <a data-toggle="modal" href="#lwModal" title="Detalles">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="fancybox" data-fancybox-group="gallery2"
                                   href="images/work/yoplanner.png" title="YoPlanner - WebSite">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div><!-- /img-figure-overlayer -->

                            <!-- img-figure -->
                            <div class="img-figure">
                                <!-- image -->
                                <img src="images/work/thumbs/yoplanner_thumb.png" alt="latest works 1">
                            </div><!-- /img-figure -->

                            <!-- title-caption -->
                            <div class="title-caption">
                                <span>YoPlanner</span>
                                <span><i class="fa fa-globe" title="WebSite" data-rel="tooltip" data-placement="top"></i></span>
                            </div><!-- /title-caption -->

                        </li><!-- /item 1 -->

                        <!-- item 2 -->
                        <li>

                            <!-- img-figure-overlayer -->
                            <div class="img-figure-overlayer">
                                <a data-toggle="modal" href="#lwModal" title="Detalles">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="fancybox" data-fancybox-group="gallery2"
                                   href="images/work/app_soften.jpg" title="Punto de Venta Móvil - App Móvil">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div><!-- /img-figure-overlayer -->

                            <!-- img-figure -->
                            <div class="img-figure">
                                <!-- image -->
                                <img src="images/work/thumbs/app_soften.jpg" alt="latest works 2">
                            </div><!-- /img-figure -->

                            <!-- title-caption -->
                            <div class="title-caption">
                                <span>DotVenta</span>
                                <span><i class="fa fa-mobile" title="App Móvil" data-rel="tooltip" data-placement="top"></i></span>
                            </div><!-- /title-caption -->

                        </li><!-- /item 2 -->

                        <!-- item 3 -->
                        <li>

                            <!-- img-figure-overlayer -->
                            <div class="img-figure-overlayer">
                                <a data-toggle="modal" href="#lwModal" title="Detalles">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="fancybox" data-fancybox-group="gallery2"
                                   href="images/work/mitianguis.png" title="MiTianguis - Website">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div><!-- /img-figure-overlayer -->

                            <!-- img-figure -->
                            <div class="img-figure">
                                <!-- image -->
                                <img src="images/work/thumbs/mitianguis.png" alt="latest works 3">
                            </div><!-- /img-figure -->

                            <!-- title-caption -->
                            <div class="title-caption">
                                <span>MiTianguis</span>
                                <span><i class="fa fa-picture-o" title="WebSite" data-rel="tooltip" data-placement="top"></i></span>
                            </div><!-- /title-caption -->
                        </li><!-- /item 3 -->
                    </ul><!-- /latest-works -->

                </div><!-- /row -->
            </div><!-- /container -->
        </section><!-- /gray-section -->




        <!-- =========================================
        White Section ( Presentaion )
        ========================================== -->
        <!-- white-section -->
        <section class="white-section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">

                    <!-- col-md-12 -->
                    <div class="col-md-12">
                        <!-- section-title -->
                        <div class="section-title">

                            <!-- main-title -->
                            <div class="main-title">
                                <h2>Eliteware / Nuestras Virtudes</h2>
                            </div><!-- /main-title -->

                            <!-- description-title -->
                            <div class="description-title">
                                <h3>Compromiso, Entrega, Trabajo en Equipo, Liderazgo, Pasion</h3>
                            </div><!-- /description-title -->

                        </div><!-- /section-title -->
                    </div><!-- /col-md-12 -->

                    <!-- presentaion -->
                    <div class="presentaion">

                        <!-- col-md-6 -->
                        <div class="col-md-6">
                            <!-- img -->
                            <img src="images/equipo.jpg" alt="Presentation image" />
                        </div><!-- /col-md-6 -->

                        <!-- col-md-6 -->
                        <div class="col-md-6">
                            <p>
                                En Eliteware nuestra mayor ventaja competitiva es que siempre estamos innovando con la tecnología
                                que esta en punta y todo eso lo hacemos con pasion y compromiso. En donde la solución viene acompañada
                                en ahorros de tiempo y dinero para nuestros clientes buscando siempre un esquema ganar-ganar que genere relaciones
                                a largo plazo.
                            </p>

                            <!-- col-md-6 -->
                            <div class="col-md-6">

                                <!-- presentation-details -->
                                <ul class="presentation-details">

                                    <!-- items -->
                                    <li><i class="fa fa-arrow-circle-right"></i>Soluciones Eficaces y Eficientes</li>
                                    <li><i class="fa fa-arrow-circle-right"></i>Sistemas funcionales y estables</li>
                                    <li><i class="fa fa-arrow-circle-right"></i>Sistemas a la medida de tus necesidades</li>
                                    <li><i class="fa fa-arrow-circle-right"></i>Integración con diferentes plataformas</li>
                                    <!-- /items -->

                                </ul><!-- /presentation-details -->

                            </div><!-- /col-md-6 -->

                            <!-- col-md-6 -->
                            <div class="col-md-6">

                                <!-- presentation-details -->
                                <ul class="presentation-details">

                                    <!-- items -->
                                    <li><i class="fa fa-arrow-circle-right"></i>Diseños intuitivos</li>
                                    <li><i class="fa fa-arrow-circle-right"></i>Soluciones Móviles</li>
                                    <li><i class="fa fa-arrow-circle-right"></i>Procesamiento de Datos</li>
                                    <li><i class="fa fa-arrow-circle-right"></i>Nos Adaptamos a cualquier ambiente</li>
                                    <!-- /items -->

                                </ul><!-- /presentation-details -->
                            </div><!-- /col-md-6 -->
                        </div><!-- /col-md-6 -->
                    </div><!-- presentaion -->
                </div><!-- /row -->
            </div><!-- /container -->
        </section><!-- /white-section -->




        <!-- =========================================
        Gray Section ( Our Services )
        ========================================== -->
        <!-- gray-section -->
        <section class="gray-section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">

                    <!-- col-md-12 -->
                    <div class="col-md-12">
                        <!-- section-title -->
                        <div class="section-title">

                            <!-- main-title -->
                            <div class="main-title">
                                <h2>Nuestros Servicios</h2>
                            </div><!-- /main-title -->

                            <!-- description-title -->
                            <div class="description-title">
                                <h3>Effective and
                                    Lightweight
                                    Information
                                    Technology for the
                                    Enterprise.</h3>
                            </div><!-- /description-title -->

                        </div><!-- /section-title -->
                    </div><!-- /col-md-12 -->

                    <!-- feature-boxs-wrapper -->
                    <div class="feature-boxs-wrapper">

                        <!-- col-md-4 -->
                        <div class="col-md-4">

                            <!-- feature-box-style2 -->
                            <div class="feature-box-style2">

                                <!-- feature-box-title -->
                                <div class="feature-box-title">
                                    <!-- icon -->
                                    <i class="fa fa-globe"></i>
                                </div><!-- /feature-box-title -->

                                <!-- feature-box-containt -->
                                <div class="feature-box-containt">
                                    <h3>Web Design</h3>
                                    <p>In viverra faucibus neque eu imperdiet. Aenean eget turpis a arcu egestas rhoncus vel nec risus. Vivamus varius tristique varius.</p>
                                </div><!-- /feature-box-containt -->

                            </div><!-- /feature-box-style2 -->

                        </div><!-- /col-md-4 -->

                        <!-- col-md-4 -->
                        <div class="col-md-4">

                            <!-- feature-box-style2 -->
                            <div class="feature-box-style2">

                                <!-- feature-box-title -->
                                <div class="feature-box-title">
                                    <!-- icon -->
                                    <i class="fa fa-cloud"></i>
                                </div><!-- /feature-box-title -->

                                <!-- feature-box-containt -->
                                <div class="feature-box-containt">
                                    <h3>Web Development</h3>
                                    <p>In viverra faucibus neque eu imperdiet. Aenean eget turpis a arcu egestas rhoncus vel nec risus. Vivamus varius tristique varius.</p>
                                </div><!-- /feature-box-containt -->

                            </div><!-- /feature-box-style2 -->

                        </div><!-- /col-md-4 -->

                        <!-- col-md-4 -->
                        <div class="col-md-4">

                            <!-- feature-box-style2 -->
                            <div class="feature-box-style2">

                                <!-- feature-box-title -->
                                <div class="feature-box-title">
                                    <!-- icon -->
                                    <i class="fa fa-mobile"></i>
                                </div><!-- /feature-box-title -->

                                <!-- feature-box-containt -->
                                <div class="feature-box-containt">
                                    <h3>Mobile Development</h3>
                                    <p>In viverra faucibus neque eu imperdiet. Aenean eget turpis a arcu egestas rhoncus vel nec risus. Vivamus varius tristique varius.</p>
                                </div><!-- /feature-box-containt -->

                            </div><!-- /feature-box-style2 -->

                        </div><!-- /col-md-4 -->

                        <!-- col-md-4 -->
                        <div class="col-md-4">

                            <!-- feature-box-style4 -->
                            <div class="feature-box-style4">

                                <!-- feature-box-containt -->
                                <div class="feature-box-containt">
                                    <h3>SEO Optimisation</h3>
                                    <p>In viverra faucibus neque eu imperdiet. Aenean eget turpis a arcu egestas rhoncus vel nec risus. Vivamus varius tristique varius.</p>
                                </div><!-- /feature-box-containt -->

                                <!-- feature-box-title -->
                                <div class="feature-box-title">
                                    <!-- icon -->
                                    <i class="fa fa-search"></i>
                                </div><!-- /feature-box-title -->

                            </div><!-- /feature-box-style4 -->

                        </div><!-- /col-md-4 -->

                        <!-- col-md-4 -->
                        <div class="col-md-4">

                            <!-- feature-box-style4 -->
                            <div class="feature-box-style4">

                                <!-- feature-box-containt -->
                                <div class="feature-box-containt">
                                    <h3>Analytics</h3>
                                    <p>In viverra faucibus neque eu imperdiet. Aenean eget turpis a arcu egestas rhoncus vel nec risus. Vivamus varius tristique varius.</p>
                                </div><!-- /feature-box-containt -->

                                <!-- feature-box-title -->
                                <div class="feature-box-title">
                                    <!-- icon -->
                                    <i class="fa fa-signal"></i>
                                </div><!-- /feature-box-title -->

                            </div><!-- /feature-box-style4 -->

                        </div><!-- /col-md-4 -->

                        <!-- col-md-4 -->
                        <div class="col-md-4">

                            <!-- feature-box-style4 -->
                            <div class="feature-box-style4">

                                <!-- feature-box-containt -->
                                <div class="feature-box-containt">
                                    <h3>Advertising</h3>
                                    <p>In viverra faucibus neque eu imperdiet. Aenean eget turpis a arcu egestas rhoncus vel nec risus. Vivamus varius tristique varius.</p>
                                </div><!-- /feature-box-containt -->

                                <!-- feature-box-title -->
                                <div class="feature-box-title">
                                    <!-- icon -->
                                    <i class="fa fa-dollar"></i>
                                </div><!-- /feature-box-title -->

                            </div><!-- /feature-box-style4 -->

                        </div><!-- /col-md-4 -->


                    </div><!-- /feature-boxs-wrapper -->

                </div><!-- /row -->
            </div><!-- /container -->
        </section><!-- /gray-section -->

        <section class="blur-section">
            <div class="container">
                <div class="row">
                    <!-- col-md-12 -->
                    <div class="col-md-12">

                        <!-- attention-box -->
                        <div class="attention-box">
                            <h3><span class="base-color">You</span> are just one step away from achieving your idea</h3>
                            <p>Check out our work and if you have any questions just email us, our support 24h.</p>
                            <a href="#" class="btn btn-lg btn-main" title="Buy Now" target="_blank">Buy Now <i class="fa fa-shopping-cart"></i></a>
                        </div><!-- /attention-box -->

                    </div><!-- /col-md-12 -->
                </div>
            </div>
        </section>

        <script type="text/javascript" src="js/Eliteware.js"></script>

        <script type="text/javascript">
            /* ==========================================================================
             Background Slider
             ========================================================================== */
            $('#home-section').backstretch([
                "images/slider/app1.jpg",
                "images/slider/2-1920x1080.jpg"
            ], {
                fade: 750,
                duration: 25000
            });
        </script>
        