<div ng-controller="HomeController">
    <!-- =========================================
        Home Section ( Slider )
    ========================================== -->
    <!-- home-section -->
    <section id="home-section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- flexslider home-slider -->
                <div class="flexslider home-slider">
                    <!-- slides -->
                    <ul class="slides">
                        <!-- slide 1 -->
                        <li>
                            <!-- flex-caption -->
                            <div class="flex-caption">
                                <!-- caption-animation -->
                                <div class="caption-animation">
                                    <!-- caption-1 -->
                                    <div class="caption-1">
                                        <h1>Eliteware/Soluciones TI</h1>
                                    </div><!-- /caption-1 -->
                                    <!-- caption-2 -->
                                    <div class="caption-2">
                                        <h3>Soluciones Eficientes e Inteligentes.<i class="fa fa-smile"></i></h3>
                                    </div><!-- /caption-2 -->
                                    <!-- caption-3 -->
                                    <div class="caption-3">
                                        <a href="javascript:void(0)" class="animated1"><i class="fa fa-html5"></i></a>
                                        <a href="javascript:void(0)" class="animated2"><i class="fa fa-css3"></i></a>
                                        <a href="javascript:void(0)" class="animated3 base-slider-bg-color"><i class="fa fa-check"></i></a>
                                    </div><!-- /caption-3 -->
                                </div><!-- /caption-animation -->
                            </div><!-- /flex-caption -->
                        </li><!-- /slide 1 -->
    
                        <!-- slide 2 -->
                        <li>
                            <!-- flex-caption -->
                            <div class="flex-caption">
                                <!-- caption-animation -->
                                <div class="caption-animation">
    
                                    <!-- caption-1 -->
                                    <div class="caption-1">
                                        <h1 class="base-slider-bg-color">Somos unos locos apasionados</h1>
                                    </div><!-- /caption-1 -->
    
                                    <!-- caption-2 -->
                                    <div class="caption-2">
                                        <h3>Cada línea de código que hacemos es con pasión.<i class="fa fa-smile"></i></h3>
                                    </div><!-- /caption-2 -->
    
                                    <!-- caption-3 -->
                                    <div class="caption-3">
                                        <a href="javascript:void(0)" class="animated1"><i class="fa fa-thumbs-o-up"></i></a>
                                        <a href="javascript:void(0)" class="animated2"><i class="fa fa-code"></i></a>
                                        <a href="javascript:void(0)" class="animated3"><i class="fa fa-heart-o"></i></a>
                                    </div><!-- /caption-3 -->
    
                                </div><!-- /caption-animation -->
                            </div><!-- /flex-caption -->
                        </li><!-- /slide 2 -->
    
                        <!-- slide 3 -->
                        <li>
                            <!-- flex-caption -->
                            <div class="flex-caption">
                                <!-- caption-animation -->
                                <div class="caption-animation">
    
                                    <!-- caption-1 -->
                                    <div class="caption-1">
                                        <h1>¿Quieres saber mas de nosotros?</h1>
                                    </div><!-- /caption-1 -->
    
                                    <!-- caption-2 -->
                                    <div class="caption-2">
                                        <h3 class="base-slider-bg-color">¡Envianos un correo!, te responderemos personalmente<i class="fa fa-smile"></i></h3>
                                    </div><!-- /caption-2 -->
    
                                    <!-- caption-3 -->
                                    <div class="caption-3">
                                        <a href="javascript:void(0)" class="animated1"><i class="fa fa-question-circle"></i></a>
                                        <a href="javascript:void(0)" class="animated2"><i class="fa fa-meh-o"></i></a>
                                        <a href="javascript:void(0)" class="animated3"><i class="fa fa-clock-o"></i></a>
                                        <a href="javascript:void(0)" class="animated4"><i class="fa fa-envelope-o"></i></a>
                                    </div><!-- /caption-3 -->
    
                                </div><!-- /caption-animation -->
                            </div><!-- /flex-caption -->
                        </li><!-- /slide 3 -->
    
                    </ul><!-- /slides -->
                </div><!-- /flexslider home-slider -->
            </div> <!-- /row -->
        </div><!-- /container -->
    </section><!-- /home-section -->
    
    
    
    
    <!-- =========================================
    White Section ( feature boxs style 1 )
    ========================================== -->
    <!-- white-section -->
    <section class="white-section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
    
                <!-- feature-boxs-wrapper1 -->
                <div class="feature-boxs-wrapper1">
    
                    <!-- col-md-4 -->
                    <div class="col-md-4">
                        <!-- feature-box-style1 -->
                        <div class="feature-box-style1">
    
                            <!-- feature-box-title -->
                            <div class="feature-box-title">
                                <i class="fa fa-globe"></i><h3>Siempre al Día</h3>
                            </div><!-- /feature-box-title -->
    
                            <!-- feature-box-containt -->
                            <div class="feature-box-containt">
                                <p>
                                    En Eliteware nuestros colaboradores son expertos en tecnologías cuya demanda
                                    en México es alta e importamos tambien aquella que actualmente
                                    se esta usando en Silicon Valley.
                                </p>
                            </div><!-- /feature-box-containt -->
    
                        </div><!-- /feature-box-style1 -->
                    </div><!-- /col-md-4 -->
    
                    <!-- col-md-4 -->
                    <div class="col-md-4">
                        <!-- feature-box-style1 -->
                        <div class="feature-box-style1">
    
                            <!-- feature-box-title -->
                            <div class="feature-box-title">
                                <i class="fa fa-cogs"></i><h3>Sinergia</h3>
                            </div><!-- /feature-box-title -->
    
                            <!-- feature-box-containt -->
                            <div class="feature-box-containt">
                                <p>
                                Eliteware esta conformado de grandes profesionistas con diversos conocimientos en el área de TI.
                                    Llevamos trabajando juntos más de 5 años lo que nos ha convertido en un equipo muy poderoso que
                                    puede dar solución a cualquier tipo de necesidad en TI.
                                </p>
                            </div><!-- /feature-box-containt -->
    
                        </div><!-- /feature-box-style1 -->
                    </div><!-- /col-md-4 -->
    
                    <!-- col-md-4 -->
                    <div class="col-md-4">
                        <!-- feature-box-style1 -->
                        <div class="feature-box-style1">
    
                            <!-- feature-box-title -->
                            <div class="feature-box-title">
                                <i class="fa fa-book"></i><h3>Innovación</h3>
                            </div><!-- /feature-box-title -->
    
                            <!-- feature-box-containt -->
                            <div class="feature-box-containt">
                                <p>
                                    En Eliteware estamos innovando a cada instante, la forma de dar soluciones inteligentes
                                    se da unicamente con la continua capacitación y actualizacion. Somos de las personas hambrientas
                                    de conocimientos el cual nos gusta compartirlo con los demás.
                                </p>
                            </div><!-- /feature-box-containt -->
    
                        </div><!-- /feature-box-style1 -->
                    </div><!-- /col-md-4 -->
    
                </div><!-- /feature-boxs-wrapper1 -->
    
            </div> <!-- /row -->
        </div><!-- /container -->
    </section><!-- /white-section -->




    <!-- =========================================
    Gray Section ( Latest Works )
    ========================================== -->
    <!-- gray-section -->
    <section class="gray-section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
    
                <!-- col-md-12 -->
                <div class="col-md-12">
                    <!-- section-title -->
                    <div class="section-title">
    
                        <!-- main-title -->
                        <div class="main-title">
                            <h2>Nuestros últimos trabajos</h2>
                        </div><!-- /main-title -->
    
                        <!-- description-title -->
                        <div class="description-title">
                            <h3>El fruto de nuestro trabajo, te presentamos algunos de nuestros proyectos.</h3>
                        </div><!-- /description-title -->
    
                    </div><!-- /section-title -->
                </div><!-- /col-md-12 -->
    
                <!-- latest-works -->
                <ul class="latest-works">
    
                    <!-- item 1 -->
                    <li>
    
                        <!-- img-figure-overlayer -->
                        <div class="img-figure-overlayer">
                            <a href="#" title="Detalles" ng-click="setProyectoEnPortafolio('yoplanner')" >
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="fancybox" data-fancybox-group="gallery2" onclick="return false;"
                                href="images/work/yoplanner.png" title="YoPlanner - WebSite" >
                                <i class="fa fa-search"></i>
                            </a>
                        </div><!-- /img-figure-overlayer -->
    
                        <!-- img-figure -->
                        <div class="img-figure">
                            <!-- image -->
                            <img src="images/work/thumbs/yoplanner_thumb.png" alt="YoPlanner - WebSite">
                        </div><!-- /img-figure -->
    
                        <!-- title-caption -->
                        <div class="title-caption">
                            <span>YoPlanner</span>
                            <span><i class="fa fa-globe" title="WebSite" data-rel="tooltip" data-placement="top"></i></span>
                        </div><!-- /title-caption -->
    
                    </li><!-- /item 1 -->
    
                    <!-- item 2 -->
                    <li>
    
                        <!-- img-figure-overlayer -->
                        <div class="img-figure-overlayer">
                            <a href="#" title="Detalles" ng-click="setProyectoEnPortafolio('biocalpert')" >
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="fancybox" data-fancybox-group="gallery2" onclick="return false;"
                            href="images/work/biocalper.png" title="Administrador de Inventario - Web">
                                <i class="fa fa-search"></i>
                            </a>
                        </div><!-- /img-figure-overlayer -->
    
                        <!-- img-figure -->
                        <div class="img-figure">
                            <!-- image -->
                            <img src="images/work/thumbs/biocalper.png" alt="Administrador de Inventario" height="160">
                        </div><!-- /img-figure -->
    
                        <!-- title-caption -->
                        <div class="title-caption">
                            <span>Biocalpert</span>
                            <span><i class="fa fa-mobile" title="App Móvil" data-rel="tooltip" data-placement="top"></i></span>
                        </div><!-- /title-caption -->
    
                    </li><!-- /item 2 -->
    
                    <!-- item 3 -->
                    <li>
    
                        <!-- img-figure-overlayer -->
                        <div class="img-figure-overlayer">
                            <a href="#" title="Detalles" ng-click="setProyectoEnPortafolio('mitianguis')" >
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="fancybox" data-fancybox-group="gallery2" onclick="return false;"
                            href="images/work/mitianguis.png" title="MiTianguis - Website">
                                <i class="fa fa-search"></i>
                            </a>
                        </div><!-- /img-figure-overlayer -->
    
                        <!-- img-figure -->
                        <div class="img-figure">
                            <!-- image -->
                            <img src="images/work/thumbs/mitianguis.png" alt="Ecommerce Web">
                        </div><!-- /img-figure -->
    
                        <!-- title-caption -->
                        <div class="title-caption">
                            <span>MiTianguis</span>
                            <span><i class="fa fa-picture-o" title="WebSite" data-rel="tooltip" data-placement="top"></i></span>
                        </div><!-- /title-caption -->
                    </li><!-- /item 3 -->
                </ul><!-- /latest-works -->
    
            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- /gray-section -->




    <!-- =========================================
    White Section ( Presentaion )
    ========================================== -->
    <!-- white-section -->
    <section class="white-section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
    
                <!-- col-md-12 -->
                <div class="col-md-12">
                    <!-- section-title -->
                    <div class="section-title">
    
                        <!-- main-title -->
                        <div class="main-title">
                            <h2>Eliteware / Nuestras Virtudes</h2>
                        </div><!-- /main-title -->
    
                        <!-- description-title -->
                        <div class="description-title">
                            <h3>Compromiso, Entrega, Trabajo en Equipo, Liderazgo, Pasion</h3>
                        </div><!-- /description-title -->
    
                    </div><!-- /section-title -->
                </div><!-- /col-md-12 -->
    
                <!-- presentaion -->
                <div class="presentaion">
    
                    <!-- col-md-6 -->
                    <div class="col-md-6">
                        <!-- img -->
                        <img src="images/equipo.jpg" alt="Presentation image" />
                    </div><!-- /col-md-6 -->
    
                    <!-- col-md-6 -->
                    <div class="col-md-6">
                        <p>
                            En Eliteware nuestra mayor ventaja competitiva es que siempre estamos innovando con la tecnología
                            que esta en punta y todo eso lo hacemos con pasion y compromiso. En donde la solución viene acompañada
                            en ahorros de tiempo y dinero para nuestros clientes buscando siempre un esquema ganar-ganar que genere relaciones
                            a largo plazo.
                        </p>
    
                        <!-- col-md-6 -->
                        <div class="col-md-6">
    
                            <!-- presentation-details -->
                            <ul class="presentation-details">
    
                                <!-- items -->
                                <li><i class="fa fa-arrow-circle-right"></i>Soluciones Eficaces y Eficientes</li>
                                <li><i class="fa fa-arrow-circle-right"></i>Sistemas funcionales y estables</li>
                                <li><i class="fa fa-arrow-circle-right"></i>Sistemas a la medida de tus necesidades</li>
                                <li><i class="fa fa-arrow-circle-right"></i>Integración con diferentes plataformas</li>
                                <!-- /items -->
    
                            </ul><!-- /presentation-details -->
    
                        </div><!-- /col-md-6 -->
    
                        <!-- col-md-6 -->
                        <div class="col-md-6">
    
                            <!-- presentation-details -->
                            <ul class="presentation-details">
    
                                <!-- items -->
                                <li><i class="fa fa-arrow-circle-right"></i>Diseños intuitivos</li>
                                <li><i class="fa fa-arrow-circle-right"></i>Soluciones Móviles</li>
                                <li><i class="fa fa-arrow-circle-right"></i>Procesamiento de Datos</li>
                                <li><i class="fa fa-arrow-circle-right"></i>Nos Adaptamos a cualquier ambiente</li>
                                <!-- /items -->
    
                            </ul><!-- /presentation-details -->
                        </div><!-- /col-md-6 -->
                    </div><!-- /col-md-6 -->
                </div><!-- presentaion -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- /white-section -->




    <!-- =========================================
    Gray Section ( Our Services )
    ========================================== -->
    <!-- gray-section -->
    <section class="gray-section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
    
                <!-- col-md-12 -->
                <div class="col-md-12">
                    <!-- section-title -->
                    <div class="section-title">
    
                        <!-- main-title -->
                        <div class="main-title">
                            <h2>Nuestros Servicios</h2>
                        </div><!-- /main-title -->
    
                        <!-- description-title -->
                        <div class="description-title">
                            <h3>Effective and
                                Lightweight
                                Information
                                Technology for the
                                Enterprise.</h3>
                        </div><!-- /description-title -->
    
                    </div><!-- /section-title -->
                </div><!-- /col-md-12 -->
    
                <!-- feature-boxs-wrapper -->
                <div class="feature-boxs-wrapper">
    
                    <!-- col-md-4 -->
                    <div class="col-md-4">
    
                        <!-- feature-box-style2 -->
                        <div class="feature-box-style2">
    
                            <!-- feature-box-title -->
                            <div class="feature-box-title">
                                <!-- icon -->
                                <i class="fa fa-globe"></i>
                            </div><!-- /feature-box-title -->
    
                            <!-- feature-box-containt -->
                            <div class="feature-box-containt">
                                <h3>Desarrollo Web</h3>
                                <p>
                                    Hoy en dia la forma de darte a conocer en el mundo es através del Internet. En Eliteware
                                    sabemos todo lo que necesitas para llevar tu negocio al ciberespacio y que todo
                                    mundo te vea.
                                </p>
                            </div><!-- /feature-box-containt -->
    
                        </div><!-- /feature-box-style2 -->
    
                    </div><!-- /col-md-4 -->
    
                    <!-- col-md-4 -->
                    <div class="col-md-4">
    
                        <!-- feature-box-style2 -->
                        <div class="feature-box-style2">
    
                            <!-- feature-box-title -->
                            <div class="feature-box-title">
                                <!-- icon -->
                                <i class="fa fa-cloud"></i>
                            </div><!-- /feature-box-title -->
    
                            <!-- feature-box-containt -->
                            <div class="feature-box-containt">
                                <h3>Desarrollo en la nube</h3>
                                <p>
                                    En Eliteware usamos los nuevos modelos de prestación de servicios de negocio y tecnología
                                    que permitirá reduccion de costos, flexibilidad y adaptacion a tus procesos de negocio.
                                </p>
                            </div><!-- /feature-box-containt -->
    
                        </div><!-- /feature-box-style2 -->
    
                    </div><!-- /col-md-4 -->
    
                    <!-- col-md-4 -->
                    <div class="col-md-4">
    
                        <!-- feature-box-style2 -->
                        <div class="feature-box-style2">
    
                            <!-- feature-box-title -->
                            <div class="feature-box-title">
                                <!-- icon -->
                                <i class="fa fa-mobile"></i>
                            </div><!-- /feature-box-title -->
    
                            <!-- feature-box-containt -->
                            <div class="feature-box-containt">
                                <h3>Desarrollo Móvil</h3>
                                <p>
                                    Aumenta la captación de clientes para tu negocio, gana ventajas competitivas o mantén
                                    la información de tu negocio disponible en tu móvil. En Eliteware siempre
                                    tenemos soluciones y propuestas para ti y tus grandes ideas.
                                </p>
                            </div><!-- /feature-box-containt -->
    
                        </div><!-- /feature-box-style2 -->
    
                    </div><!-- /col-md-4 -->
    
                    <!-- col-md-4 -->
                    <div class="col-md-4">
    
                        <!-- feature-box-style4 -->
                        <div class="feature-box-style4">
    
                            <!-- feature-box-containt -->
                            <div class="feature-box-containt">
                                <h3>Cursos y Capacitación</h3>
                                <p>
                                    Aprende lo de hoy, obtén el trabajo que siempre deseaste, pide un aumento con la seguridad
                                    que te da el conocimiento, mantén a tu equipo de trabajo siempre al dia.
                                </p>
                            </div><!-- /feature-box-containt -->
                            <!-- feature-box-title -->
                            <div class="feature-box-title">
                                <!-- icon -->
                                <i class="fa fa-book"></i>
                            </div><!-- /feature-box-title -->
                        </div><!-- /feature-box-style4 -->
                    </div><!-- /col-md-4 -->
    
                    <!-- col-md-4 -->
                    <div class="col-md-4">
    
                        <!-- feature-box-style4 -->
                        <div class="feature-box-style4">
                            <!-- feature-box-containt -->
                            <div class="feature-box-containt">
                                <h3>Consultoria</h3>
                                <p>
                                ¿Tienes un bomberazo?, ¿El proyecto era para ayer?. En Eliteware tenemos
                                    consultores expertos de diferentes áreas en TI para solucionar cualquier
                                    contingencia que se te presente.
                                </p>
                            </div><!-- /feature-box-containt -->
                            <!-- feature-box-title -->
                            <div class="feature-box-title">
                                <!-- icon -->
                                <i class="fa fa-flash"></i>
                            </div><!-- /feature-box-title -->
                        </div><!-- /feature-box-style4 -->
                    </div><!-- /col-md-4 -->
    
                    <!-- col-md-4 -->
                    <div class="col-md-4">
                        <!-- feature-box-style4 -->
                        <div class="feature-box-style4">
                            <!-- feature-box-containt -->
                            <div class="feature-box-containt">
                                <h3>Outsourcing</h3>
                                <p>
                                    ¿Necesitas más manos?. Eliteware al ser un lider en TI, sabemos exactamente
                                    el perfil de las personas que se requiere para cualquier tipo de proyecto
                                    que tengas en puerta.
                                </p>
                            </div><!-- /feature-box-containt -->
                            <!-- feature-box-title -->
                            <div class="feature-box-title">
                                <!-- icon -->
                                <i class="fa fa-dollar"></i>
                            </div><!-- /feature-box-title -->
                        </div><!-- /feature-box-style4 -->
                    </div><!-- /col-md-4 -->
                </div><!-- /feature-boxs-wrapper -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- /gray-section -->

    <section class="blur-section">
        <div class="container">
            <div class="row">
                <!-- col-md-12 -->
                <div class="col-md-12">
                    <!-- attention-box -->
                    <div class="attention-box">
                        <h3><span class="base-color">¡Hey!</span> estas a un paso de iniciar ese gran proyecto</h3>
                        <p>Revisa nuestro trabajo, ¡Conócenos!. Escríbemos y nos ponemos en contacto contigo.</p>
                        <a ui-sref="contact-us" class="btn btn-lg btn-main" title="Buy Now">Escribenos <i class="fa fa-envelope"></i></a>
                    </div><!-- /attention-box -->
    
                </div><!-- /col-md-12 -->
            </div>
        </div>
    </section>
    
        <!-- =========================================
        Latest Work Modal
        ========================================== -->
        <!-- modal -->
        <div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- modal-dialog -->
                    <div class="modal-dialog">
                        <!-- modal-content -->
                        <div class="modal-content">
                            <!-- modal-header -->
                            <div class="modal-header">
                                <!-- X close -->
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <!-- modal-title -->
                                <h3 class="modal-title base-color">{{proyecto.titulo}}</h3>
                            </div><!-- /modal-header -->

                            <!-- modal-body -->
                            <div class="modal-body">
                                <div class="thumbnail"><img src="{{proyecto.imagen}}" alt="{{proyecto.titulo}}" /></div>
                                <div class="project-OverView">
                                    <h3 class="head-title"><span>Descripción</span></h3>
                                    <p>{{proyecto.detalle1}}</p>
                                    <p>{{proyecto.detalle2}}</p>
                                    <p>{{proyecto.detalle3}}</p>
                                </div>
                                <!-- project-details -->
                                <ul class="project-details">
                                    <li title="Eliteware-informes@eliteware.io" data-rel="tooltip" data-placement="top">
                                        <a href="javascript:void(0)" title="Vendor Name"><i class="fa fa-flag"></i></a>
                                    </li>
                                    <li title="Sitio Web" data-rel="tooltip" data-placement="top">
                                        <img src="images/logowebsite.jpg" alt="sitio web" width="97" height="100">
                                    </li>
                                    <li title="Enlace al Sitio" data-rel="tooltip" data-placement="top">
                                        <a href="{{proyecto.link}}" title="Project Link" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                </ul><!-- /project-details -->
                            </div><!-- /modal-body -->
                            <!-- modal-footer -->
                            <div class="modal-footer">
                                <!-- More Details button -->
                                <a class="btn btn-main-o" ui-sref="detalle" ng-click="goDetalle()" >
                                    Más Detalles
                                </a>
                                <!-- close button -->
                                <a class="btn btn-main-o" data-dismiss="modal" title="Close" href="javascript:void(0)">Cerrar</a>
                            </div><!-- modal-footer -->
                        </div><!-- /modal-content -->
                    </div><!-- /modal-dialog -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /modal -->
    
</div>
