<!-- =========================================
breadcrumb
========================================== -->
<!-- breadcrumb-wrapper -->
<section class="breadcrumb-wrapper">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="page-description">
                <h3>When you get right down to it, success is all about value and trust.</h3>
            </div>

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /breadcrumb-wrapper -->


<!-- =========================================
White Section
========================================== -->
<section class="white-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col-md-6 -->
            <div class="col-md-6">
                <!-- feature-box-style5 -->
                <div class="feature-box-style5">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>Consultoria en IT</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <i class="fa fa-globe"></i>
                        <p>
                            En Eliteware nuestra mayor preocupación eres tu, nosotros hacemos que tus problemas sean nuestros problemas y siempre contarás con propuestas que se adapten a tus necesidades en tiempo y costo para la resolución de cualquier problema que tengas en tus sistemas, ya sea por escalabilidad, rendimiento, seguridad etc. Nosotros contamos con la experiencia y conocimientos para darte la mejor solución. ¡Compruébalo por ti mismo!.  
                        </p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style5 -->

            </div><!-- /col-md-6 -->

            <!-- col-md-6 -->
            <div class="col-md-6">

                <!-- feature-box-style5 -->
                <div class="feature-box-style5">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>Desarrollo WEB</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <i class="fa fa-cloud"></i>
                        <p>Por mas de 10 años nuestros colaboradores han estado en diferentes proyectos de desarrollo WEB. Tenemos experiencia en comercio electrónico, administradores de contenidos, comunidades virtuales, de trafico de datos, sitios web institucionales etc. Contamos con el conocimiento para desarrollar sitios web con alto performance, alta usabilidad, disponibilidad, responsiva y con las mejores tecnicas UX para que el usuario final experimente una forma agradable y amigable de navegar en tu sitio. </p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style5 -->

            </div><!-- /col-md-6 -->

            <!-- col-md-6 -->
            <div class="col-md-6">

                <!-- feature-box-style5 -->
                <div class="feature-box-style5">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>Desarrollo Movil</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <i class="fa fa-mobile"></i>
                        <p>En Eliteware contamos con profesionales experimentados en el desarrollo de aplicaciones moviles para diferentes sistemas operativos; Android, IOS, Windows Phone, Blackberry etc. Nuestros productos estan sujetos a pruebas de calidad, integración con APIs externas, seguridad, performance para el manejo de dato y la bateria, con lo cual garantizamos la excelencia del producto.</p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style5 -->

            </div><!-- /col-md-6 -->

            <!-- col-md-6 -->
            <div class="col-md-6">

                <!-- feature-box-style5 -->
                <div class="feature-box-style5">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>Capacitación</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <i class="fa fa-search"></i>
                        <p>En Eliteware trabajamos en equipo con un alto grado de empatia, confianza, seguridad. Estamos convencidos que compartir los conocimientos nos hara un equipo mas fuerte y alimentara mucho en retroalimentacion la calidad de los productos que desarrollamos. Con toda esa experiencia y ese ánimo, los instructores de Eliteware trabajan para no solo transmitir información sino asegurar que el alumno comprenda y el mismo pueda, en base a su experiencia, aplicar la tecnologia a su conveniencia.</p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style5 -->

            </div><!-- /col-md-6 -->

            <!-- col-md-6 -->
            <div class="col-md-6">

                <!-- feature-box-style5 -->
                <div class="feature-box-style5">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>Freelance</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <i class="fa fa-signal"></i>
                        <p>En Eliteware nos adaptamos a las necesidades de nuestros clientes, nuestros colaboradores pueden ir a tomar tus requerimientos, realizar juntas de trabajo con tu personal o usuarios para el desarrollo total o parcial de los modulos que necesites. trabajando en la modalidad freelance se tiene la ventaja de que nosotros te enviamos a la persona idónea para llevar acabo el trabajo y no te tengas que preocupar por las contrataciones, examenes, capacidad, equipo de computo y todo la logistica que conlleva la contratación de un empleado.</p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style5 -->

            </div><!-- /col-md-6 -->

            <!-- col-md-6 -->
            <div class="col-md-6">

                <!-- feature-box-style5 -->
                <div class="feature-box-style5">

                    <!-- feature-box-title -->
                    <div class="feature-box-title">
                        <h3>Alianzas</h3>
                    </div><!-- /feature-box-title -->

                    <!-- feature-box-containt -->
                    <div class="feature-box-containt">
                        <i class="fa fa-dollar"></i>
                        <p>En Eliteware estamos abiertos a las alianzas.  Actualmente contamos con varios productos como lo es un CORE muy parecido a UBER, un sitio de comercio electronico, aplicaciones moviles para venta de productos o cupones con su administrador WEB, etc, los cuales podemos trabajarlos en conjunto y obtener beneficios de su venta y distribución. Asi mismo, si tienes una idea, si tienes un cliente, podemos trabajar contigo para que solo te preocupes por la parte de ventas y dejanos a nosotros toda la construccion de los productos que estes vendiendo. </p>
                    </div><!-- /feature-box-containt -->

                </div><!-- /feature-box-style5 -->

            </div><!-- /col-md-6 -->


        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /section -->




<!-- =========================================
Gray Section
========================================== -->
<section class="gray-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-md-12 -->
            <div class="col-md-12">
                <!-- short-section-title -->
                <div class="short-section-title">
                    <h3>Nuestras características</h3>
                </div><!-- /short-section-title -->


                <!-- col-md-3 -->
                <div class="col-md-3">

                    <!-- feature-box-style6 -->
                    <div class="feature-box-style6">

                        <!-- feature-box-title -->
                        <div class="feature-box-title">
                            <i class="fa fa-users"></i>
                            <a href="contact-us.html" title="Contact Us">Soporte</a>
                        </div><!-- /feature-box-title -->

                        <!-- feature-box-containt -->
                        <div class="feature-box-containt">
                            <p>En Eliteware contamos con soporte 24 horas via telefonica o internet a través de diferentes medios como skype, escritorio remoto, vpn etc. Tenemos un rango de respuesta de no mas de 48 horas y 24 horas como minimo para que un consultor este en las instalaciones para resolver de manera fisica y presencial cualquier evento que ocurra.</p>
                        </div><!-- /feature-box-containt -->

                    </div><!-- /feature-box-style6 -->

                </div><!-- /col-md-3 -->

                <!-- col-md-3 -->
                <div class="col-md-3">

                    <!-- feature-box-style6 -->
                    <div class="feature-box-style6">

                        <!-- feature-box-title -->
                        <div class="feature-box-title">
                            <i class="fa fa-pencil"></i>
                            <a href="index.html" title= "Portfolio">Diseño</a>
                        </div><!-- /feature-box-title -->

                        <!-- feature-box-containt -->
                        <div class="feature-box-containt">
                            <p>En Eliteware contamos con un área de diseño en el cual se desarrollan las maquetas que son presentadas antes de iniciar cualquier tipo de desarrollo. El look and feel es asombroso y siempre con diseños responsivos para que no se distorsione ninguna imagen y siempre este impresionante independientemente del dispositivo que usen tus clientes para visitarte.</p>
                        </div><!-- /feature-box-containt -->

                    </div><!-- /feature-box-style6 -->

                </div><!-- /col-md-3 -->

                <!-- col-md-3 -->
                <div class="col-md-3">

                    <!-- feature-box-style6 -->
                    <div class="feature-box-style6">

                        <!-- feature-box-title -->
                        <div class="feature-box-title">
                            <i class="fa fa-star"></i>
                            <a href="about-us.html" title="About Us">Excelente Reputación</a>
                        </div><!-- /feature-box-title -->

                        <!-- feature-box-containt -->
                        <div class="feature-box-containt">
                            <p>Una de las cosas que nos ha caracterizado en Eliteware es la pasion y la sinceridad. Tomamos nuestro trabajo muy enserio, lo hacemos con pasión y sobre todo con mucha honestidad. Esto se ha reflejado en la satisfacción y confianza de nuestros clientes ya que nosotros garantizamos el trabajo en base a estas premisas y se refleja a la hora de hacer los entregables y no te vamos a mentir solo para ganar el proyecto. Siempre pensamos a largo plazo y buscando relaciones sólidas y duraderas con nuestros clientes. </p>
                        </div><!-- /feature-box-containt -->

                    </div><!-- /feature-box-style6 -->

                </div><!-- /col-md-3 -->

                <!-- col-md-3 -->
                <div class="col-md-3">

                    <!-- feature-box-style6 -->
                    <div class="feature-box-style6">

                        <!-- feature-box-title -->
                        <div class="feature-box-title">
                            <i class="fa fa-dollar"></i>
                            <a href="page-our-services.html" title="Our Service">Dinero Garantizado</a>
                        </div><!-- /feature-box-title -->

                        <!-- feature-box-containt -->
                        <div class="feature-box-containt">
                            <p>En Eliteware contamos con diversos modelos de negocio, acercate con nosotros y pregunta, veras que siempre tenemos una forma de hacer negocio en la cual te veas beneficiado y la inversión que realices con nostros se vea reflejada lo mas pronto posible.</p>
                        </div><!-- /feature-box-containt -->

                    </div><!-- /feature-box-style6 -->

                </div><!-- /col-md-3 -->

            </div><!-- /col-md-12 -->


        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /section -->




<!-- =========================================
Blur2 Section
========================================== -->
<section class="blur2-section" ng-show="false">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- circle-progress-wrapper -->
            <div class="circle-progress-wrapper">

                <ul>

                    <li>
                        <!-- round-skill -->
                        <div class="round-skill">
                            <input type="text" class="skill-chart animated" />
                            <h2 data-to="150" data-speed="3000">0</h2>
                            <h3>Clients</h3>
                        </div><!-- /round-skill -->
                    </li>

                    <li>
                        <!-- round-skill -->
                        <div class="round-skill">
                            <input type="text" class="skill-chart animated" />
                            <h2 data-to="250" data-speed="3000">0</h2>
                            <h3>HTML</h3>
                        </div><!-- /round-skill -->
                    </li>

                    <li>
                        <!-- round-skill -->
                        <div class="round-skill">
                            <input type="text" class="skill-chart animated" />
                            <h2 data-to="250" data-speed="3000">0</h2>
                            <h3>PSD</h3>
                        </div><!-- /round-skill -->
                    </li>

                    <li>
                        <!-- round-skill -->
                        <div class="round-skill">
                            <input type="text" class="skill-chart animated" />
                            <h2 data-to="2500" data-speed="3000">0</h2>
                            <h3>Followers</h3>
                        </div><!-- /round-skill -->
                    </li>

                    <li>
                        <!-- round-skill -->
                        <div class="round-skill">
                            <input type="text" class="skill-chart animated" />
                            <h2 data-to="3500" data-speed="3000">0</h2>
                            <h3>Coffee</h3>
                        </div><!-- /round-skill -->
                    </li>

                    <li>
                        <!-- round-skill -->
                        <div class="round-skill">
                            <input type="text" class="skill-chart animated" />
                            <h2 data-to="150" data-speed="3000">0</h2>
                            <h3>Wordpress</h3>
                        </div><!-- /round-skill -->
                    </li>

                </ul>
            </div><!-- /circle-progress-wrapper -->

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /section -->




<!-- =========================================
Gray Section
========================================== -->
<!-- gray-section -->
<section class="gray-section" ng-show="false">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- col-md-6 -->
            <div class="col-md-6">
                <!-- videos -->
                <div class="videos">
                    <iframe src="//www.youtube.com/embed/5Uh1KxcpWz0"></iframe>
                </div><!-- /videos -->
            </div><!-- /col-md-6 -->

            <!-- col-md-6 -->
            <div class="col-md-6">

                <!-- short-section-title -->
                <div class="short-section-title">
                    <h3>Demonstration</h3>
                </div><!-- /short-section-title -->

                <p>Donec eleifend lacus vitae tortor lobortis posuere. Sed id nulla nec nisi feugiat pharetra. Proin tincidunt diam tempus, interdum metus sed, consectetur sem. Vestibulum nec dui ac urna pellentesque porttitor id dapibus odio.</p>
                <p>Morbi vulputate sapien vel enim dictum, sed lobortis ligula vehicula. Sed in volutpat nisl. In rutrum sem sit amet rhoncus dignissim. Curabitur quis purus et sapien fringilla tempor a in dolor.</p>
                <p>Nam ac felis ut diam ultricies adipiscing. Donec eget est vitae ligula dignissim facilisis eget ac elit.</p>

            </div><!-- /col-md-6 -->

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /section -->




<!-- =========================================
White Section
========================================== -->
<section class="white-section" ng-show="false">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- col-md-12 -->
            <div class="col-md-12">
                <!-- short-section-title -->
                <div class="short-section-title">
                    <h3>Our Planes</h3>
                </div><!-- /short-section-title -->

                <!-- pricing-boxs -->
                <div class="pricing-boxs">

                    <!-- col-md-3 -->
                    <div class="col-md-3">

                        <!-- pricing-box -->
                        <div class="pricing-box">

                            <!-- Title & price -->
                            <div class="price">
                                <h3>Basic</h3>
                                <h1>$ 10 <span>/mo</span></h1>
                            </div><!-- /Title & price -->

                            <!-- Details -->
                            <ul>
                                <li><b>1 GB</b> Disk Space</li>
                                <li><b>10 GB</b>/MO Bandwidth</li>
                                <li><b>20</b> Email Accounts</li>
                                <li><b>3</b> Subdomains</li>
                                <li><b>1</b> Free Template</li>
                                <li><b>24 / 7</b> Support</li>
                            </ul><!-- /Details -->

                            <!-- Sign up -->
                            <a class="btn btn-md btn-black" href="javascript:void(0)">Sign up</a>

                        </div><!-- /pricing-box -->

                    </div><!-- /col-md-3 -->


                    <!-- col-md-3 -->
                    <div class="col-md-3">

                        <!-- pricing-box -->
                        <div class="pricing-box">

                            <!-- Title & price -->
                            <div class="price">
                                <h3>standard</h3>
                                <h1>$ 15 <span>/mo</span></h1>
                            </div><!-- /Title & price -->

                            <!-- Details -->
                            <ul>
                                <li><b>10 GB</b> Disk Space</li>
                                <li><b>100 GB</b>/MO Bandwidth</li>
                                <li><b>200</b> Email Accounts</li>
                                <li><b>10</b> Subdomains</li>
                                <li><b>5</b> Free Template</li>
                                <li><b>24 / 7</b> Support</li>
                            </ul><!-- /Details -->

                            <!-- Sign up -->
                            <a class="btn btn-md btn-black" href="javascript:void(0)">Sign up</a>

                        </div><!-- /pricing-box -->

                    </div><!-- /col-md-3 -->


                    <!-- col-md-3 -->
                    <div class="col-md-3">

                        <!-- pricing-box -->
                        <div class="feature-pricing-box">

                            <!-- Title & price -->
                            <div class="price">
                                <h3>professional</h3>
                                <h1>$ 20 <span>/mo</span></h1>
                            </div><!-- /Title & price -->

                            <!-- Details -->
                            <ul>
                                <li><b>100 GB</b> Disk Space</li>
                                <li><b>1000 GB</b>/MO Bandwidth</li>
                                <li><b>Unlimited</b> Email Accounts</li>
                                <li><b>Unlimited</b> Subdomains</li>
                                <li><b>10</b> Free Template</li>
                                <li><b>24 / 7</b> Support</li>
                            </ul><!-- /Details -->

                            <!-- Sign up -->
                            <a class="btn btn-md btn-black" href="javascript:void(0)">Sign up</a>

                        </div><!-- /pricing-box -->

                    </div><!-- /col-md-3 -->

                    <!-- col-md-3 -->
                    <div class="col-md-3">
                        <!-- pricing-box -->
                        <div class="pricing-box">
                            <!-- Title & price -->
                            <div class="price">
                                <h3>advanced</h3>
                                <h1>$ 30 <span>/mo</span></h1>
                            </div><!-- /Title & price -->
                            <!-- Details -->
                            <ul>
                                <li><b>Unlimited</b> Disk Space</li>
                                <li><b>Unlimited</b>/MO Bandwidth</li>
                                <li><b>Unlimited</b> Email Accounts</li>
                                <li><b>Unlimited</b> Subdomains</li>
                                <li><b>Unlimited</b> Free Template</li>
                                <li><b>24 / 7</b> Support</li>
                            </ul><!-- /Details -->
                            <!-- Sign up -->
                            <a class="btn btn-md btn-black" href="javascript:void(0)">Sign up</a>
                        </div><!-- /pricing-box -->                       
                    </div><!-- /col-md-3 -->
                </div><!-- pricing-boxs -->
            </div><!-- /col-md-12 -->
        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /section -->

