<!-- =========================================
breadcrumb
========================================== -->
<!-- breadcrumb-wrapper -->
<section class="breadcrumb-wrapper">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="page-description">
                <h3>En esta seccion se describe la construcción del sitio web</h3>
            </div>

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /breadcrumb-wrapper -->




<!-- =========================================
White Section
========================================== -->
<section class="white-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- sitemap-wrapper -->
            <div class="sitemap-wrapper">

                <!-- col-md-3 -->
                <div class="col-md-4">

                    <h3>Pages:</h3>

                    <div class="sitemap">

                        <ul>
                            <!-- Home -->
                            <li>
                                <a ui-sref="inicio"  title="Home">Home</a>
                            </li><!-- /Home -->

                            <!-- About Us -->
                            <li>
                                Acerca de
                                <ul>
                                    <li><a ui-sref="about.us" title="Nosotros">Nosotros</a></li>
                                </ul>
                            </li><!-- /About Us -->

                            <!-- Pages -->
                            <li>
                                Secciones
                                <ul>
                                    <li><a ui-sref="servicios" title="Nuestros Servicios">Nuestros Servicios</a></li>
                                    <li><a class="gn-active" ui-sref="mapasitio" title="Mapa del sitio">Mapa del sitio</a></li>
                                </ul>
                            </li><!-- /Pages -->

                            <!-- Contact Us -->
                            <li>
                                <a ui-sref="contact-us" title="Contáctanos">Contáctanos</a>
                            </li><!-- /Contact Us -->
                        </ul>

                    </div>

                </div><!-- /col-md-3 -->

                <!-- col-md-3 -->
                <div class="col-md-4">

                    <h3>Tags:</h3>

                    <div class="sitemap">

                        <ul>
                            <li><a href="javascript:void(0)" title="tag">diseño</a></li>
                            <li><a href="javascript:void(0)" title="tag">web</a></li>
                            <li><a href="javascript:void(0)" title="tag">marketing</a></li>
                            <li><a href="javascript:void(0)" title="tag">APP</a></li>
                            <li><a href="javascript:void(0)" title="tag">movil</a></li>
                            <li><a href="javascript:void(0)" title="tag">consultoria</a></li>
                            <li><a href="javascript:void(0)" title="tag">capacitación</a></li>
                            <li><a href="javascript:void(0)" title="tag">eliteware</a></li>
                            <li><a href="javascript:void(0)" title="tag">equipo</a></li>
                            <li><a href="javascript:void(0)" title="tag">freelancers</a></li>
                            <li><a href="javascript:void(0)" title="tag">logo</a></li>
                            <li><a href="javascript:void(0)" title="tag">imagen</a></li>
                            <li><a href="javascript:void(0)" title="tag">html</a></li>
                            <li><a href="javascript:void(0)" title="tag">css</a></li>
                        </ul>

                    </div>

                </div><!-- /col-md-3 -->


                <!-- col-md-3 -->
                <div class="col-md-4">

                    <h3>Authors:</h3>

                    <div class="sitemap">
                        <ul>
                            <li><a ui-sref="about.team({teamId:'danielm'})" title="Daniel Morales">Daniel Morales</a></li>
                            <li><a ui-sref="about.team({teamId:'oscarg'})" title="Oscar Garcia">Oscar Garcia</a></li>
                            <li><a ui-sref="about.team({teamId:'oscarm'})" title="Oscar Monroy">Oscar Monroy</a></li>
                            <li><a ui-sref="about.team({teamId:'oscarv'})" title="Oscar Vega">Oscar Vega</a></li>
                            <li><a ui-sref="about.team({teamId:'rafaeld'})" title="Rafael Delgadillo">Rafael Delgadillo</a></li>
                        </ul>
                    </div>

                </div><!-- /col-md-3 -->


                <!-- col-md-3 -->
                <div class="col-md-4" ng-show="false">
                    <h3>Posts:</h3>
                    <div class="sitemap">
                        <ul>
                            <li><a href="blog-single-post.html" title="Simple standard post without featured image">Simple post without featured image</a></li>
                            <li><a href="blog-single-post.html" title="Standard post with featured image">Standard post with featured image</a></li>
                            <li><a href="blog-single-post.html" title="Audio post">Audio post</a></li>
                            <li><a href="blog-single-post.html" title="Video post">Video post</a></li>
                            <li><a href="blog-single-post.html" title="Quote post">Quote post</a></li>
                            <li><a href="blog-single-post.html" title="Link post">Link post</a></li>
                            <li><a href="blog-single-post.html" title="Slider post">Slider post</a></li>
                        </ul>
                    </div>
                </div><!-- /col-md-3 -->

            </div><!-- /sitemap-wrapper -->

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /section -->
