
        <!-- =========================================
        breadcrumb
        ========================================== -->
        <!-- breadcrumb-wrapper -->
        <section class="breadcrumb-wrapper">
            <!-- container -->
		    <div class="container">
		        <!-- row -->
		        <div class="row">

                    <div class="page-description">
                        <h3>Todo lo que necesitas saber acerca de Daniel Morales, y las opciones de contacto.</h3>
                    </div>

                </div><!-- /row -->
            </div><!-- /container -->
        </section><!-- /breadcrumb-wrapper -->




        <!-- =========================================
        White Section
        ========================================== -->
        <!-- white-section -->
        <section class="white-section">

            <!-- container -->
		    <div class="container">
		        <!-- row -->
		        <div class="row">

		            <!-- about-me-wrapper -->
		            <div class="about-me-wrapper">

                        <!-- col-md-6 -->
                        <div class="col-md-6">

                            <!-- about-me -->
                            <div class="about-me">
                                <!-- img-cover -->
                                <div class="img-cover">
                                    <div class="thumbnail">
                                        <img src="images/team/cover/2-726x408.jpg" alt="member cover" />
                                    </div>
                                </div><!-- /img-cover -->

                                <!-- member-img -->
                                <div class="member-img">
                                    <div class="thumbnail">
                                        <img src="images/team/thumbs/2-290x290.jpg" alt="member cover" />
                                    </div>
                                </div><!-- /member-img -->

                                <!-- member-info -->
                                <div class="member-info">
                                    <h2 class="name">Daniel Morales</h2>
                                    <h3 class="title">Full Stack Developer</h3>
                                </div><!-- /member-info -->


                            </div><!-- /about-me -->

                        </div><!-- /col-md-6 -->

                        <!-- col-md-3 -->
                        <div class="col-md-3">

                            <!-- text-widget -->
                            <div class="text-widget">

                                <!-- text-widget-title -->
                                <div class="text-widget-title">
                                    <h3>Detalles personales</h3>
                                </div><!-- /text-widget-title -->

                                <!-- personal-details -->
                                <ul class="personal-details">

                                    <!-- item 1 -->
                                    <li>
                                        <span class="title">Nombre</span>
                                        <span class="value">Jos&eacute; Daniel Morales R&iacute;os</span>
                                    </li><!-- /item 1 -->

                                    <!-- item 2 -->
                                    <li>
                                        <span class="title">Fecha de Nacimiento</span>
                                        <span class="value">15 de mayo de 1981</span>
                                    </li><!-- /item 2 -->

                                    <!-- item 3 -->
                                    <li>
                                        <span class="title">Tel&eacute;fono</span>
                                        <span class="value">01234567890</span>
                                    </li><!-- /item 3 -->

                                    <!-- item 4 -->
                                    <li>
                                        <span class="title">Nacionalidad</span>
                                        <span class="value">Mexicana</span>
                                    </li><!-- /item 4 -->

                                    <!-- item 5 -->
                                    <li>
                                        <span class="title">Direcci&oacute;n</span>
                                        <span class="value">La Roma, Cuahutemoc</span>
                                    </li><!-- /item 5 -->

                                    <!-- item 6 -->
                                    <li>
                                        <span class="title">Correo El&eacute;ctronico</span>
                                        <span class="value">daniel.morales@eliteware.io</span>
                                    </li><!-- /item 6 -->

                                    <!-- item 7 -->
                                    <li>
                                        <span class="title">T&iacute;tulo</span>
                                        <span class="value">Engineer</span>
                                    </li><!-- /item 7 -->

                                </ul><!-- /personal-details -->

                                <!-- member-social-icons -->
                                <div class="member-social-icons">

                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" title="Twitter" data-rel="tooltip" data-placement="top">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li><li>
                                            <a href="javascript:void(0)" title="Facebook" data-rel="tooltip" data-placement="top">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li><li>
                                            <a href="javascript:void(0)" title="Google Plus" data-rel="tooltip" data-placement="top">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li><li>
                                            <a href="javascript:void(0)" title="Pinterest" data-rel="tooltip" data-placement="top">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li><li>
                                            <a href="javascript:void(0)" title="LinkedIn" data-rel="tooltip" data-placement="top">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>

                                    </ul>

                                </div><!-- /member-social-icons -->

                            </div><!-- /text-widget -->

                        </div><!-- /col-md-3 -->

                        <!-- col-md-3 -->
                        <div class="col-md-3">

                            <!-- text-widget -->
                            <div class="text-widget">

                                <!-- text-widget-title -->
                                <div class="text-widget-title">
                                    <h3>Habilidades</h3>
                                </div><!-- /text-widget-title -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main"  data-progress-percent="90%">
                                        <!-- skill -->
                                        <span>PHP</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <span>SQL</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="85%">
                                        <!-- skill -->
                                        <span>JavaScript</span><span data-to="85">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="90%">
                                        <span>HTML5</span><span data-to="90">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                                <!-- progress-bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-main" data-progress-percent="95%">
                                        <!-- skill -->
                                        <span>CSS3</span><span data-to="95">0</span>
                                    </div>
                                </div><!-- /progress-bar -->

                            </div><!-- /text-widget -->

                        </div><!-- /col-md-3 -->

                    </div><!-- /about-me-wrapper -->

		        </div><!-- /row -->
		    </div><!-- /container -->
        </section><!-- /white-section -->




        <!-- =========================================
        Gray Section ( Our History )
        ========================================== -->
        <!-- gray-section -->
		<section class="gray-section">
		    <!-- container -->
		    <div class="container">
		        <!-- row -->
		        <div class="row">

		            <!-- col-md-4 -->
		            <div class="col-md-4">

		                <!-- text-widget -->
                        <div class="text-widget">

                            <!-- text-widget-title -->
                            <div class="text-widget-title">
                                <h3>Acerca de Jos&eacute; Daniel Morales R&iacute;os</h3>
                            </div><!-- /text-widget-title -->

                            <p>Duis scelerisque ac nulla eu luctus. Donec consectetur ut erat non commodo. Nulla accumsan faucibus elit a fermentum. Praesent placerat dui cursus velit laoreet, eget euismod sapien pellentesque.</p>
								<p><i class="fa fa-check base-color"></i> Fusce sit amet orci quis arcu vestibulum vestibulum sed ut felis.</p>
								<p><i class="fa fa-check base-color"></i> Phasellus in risus quis lectus iaculis vulputate id quis nisl.</p>

                        </div><!-- /text-widget -->

		            </div><!-- /col-md-4 -->

		            <!-- col-md-4 -->
		            <div class="col-md-4">

		                <!-- text-widget -->
                        <div class="text-widget">

                            <!-- text-widget-title -->
                            <div class="text-widget-title">
                                <h3>Posiciones y experiencia</h3>
                            </div><!-- /text-widget-title -->

                            <!-- Accordion container -->
                            <div class="ac-container" id="ac-container">

                                <ul>

                                    <!-- item 1 -->
                                    <li>

                                        <!-- Accordion Title -->
                                        <a href="javascript:void(0)">Front-end developer</a>

                                        <!-- Accordion Content -->
                                        <div class="ac-content">
                                            <p>Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius.</p>
                                        </div><!-- /Accordion Content -->

                                    </li><!-- /item 1 -->


                                    <!-- item 2 -->
                                    <li>

                                        <!-- Accordion Title -->
                                        <a href="javascript:void(0)">Graphic Designer</a>

                                        <!-- Accordion Content -->
                                        <div class="ac-content">
                                            <p>Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius.</p>
                                        </div><!-- /Accordion Content -->

                                    </li><!-- /item 2 -->


                                    <!-- item 3 -->
                                    <li>

                                        <!-- Accordion Title -->
                                        <a href="javascript:void(0)">UX Designer</a>

                                        <!-- Accordion Content -->
                                        <div class="ac-content">
                                            <p>Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius.</p>
                                        </div><!-- /Accordion Content -->

                                    </li><!-- /item 3 -->


                                    <!-- item 4 -->
                                    <li>

                                        <!-- Accordion Title -->
                                        <a href="javascript:void(0)">GUI Designer</a>

                                        <!-- Accordion Content -->
                                        <div class="ac-content">
                                            <p>Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius.</p>
                                        </div><!-- /Accordion Content -->

                                    </li><!-- /item 4 -->


                                    <!-- item 5 -->
                                    <li>

                                        <!-- Accordion Title -->
                                        <a href="javascript:void(0)">Senior</a>

                                        <!-- Accordion Content -->
                                        <div class="ac-content">
                                            <p>Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius.</p>
                                        </div><!-- /Accordion Content -->

                                    </li><!-- /item 5 -->


                                    <!-- item 6 -->
                                    <li>

                                        <!-- Accordion Title -->
                                        <a href="javascript:void(0)">Team Manager</a>

                                        <!-- Accordion Content -->
                                        <div class="ac-content">
                                            <p>Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius. Lorem Curabitur eget leo at velit imperdiet varius.</p>
                                        </div><!-- /Accordion Content -->

                                    </li><!-- /item 6 -->

                                </ul>

                            </div><!-- /Accordion container -->

                        </div><!-- /text-widget -->

		            </div><!-- /col-md-4 -->

		            <!-- col-md-4 -->
                    <div class="col-md-4">

                        <!-- text-widget -->
                        <div class="text-widget">

                            <!-- text-widget-title -->
                            <div class="text-widget-title">
                                <h3>Qu&eacute; Comentan los Clientes</h3>
                            </div><!-- /text-widget-title -->

                            <!-- testimonial-flexslider -->
                            <div id="testimonial-flexslider" class="flexslider testimonial-flexslider">
                                <!-- slides -->
                                <ul class="slides">

                                    <!-- slide 1 -->
                                    <li>
                                        <!-- testimonial -->
                                        <div class="testimonial">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>
                                        </div><!-- /testimonial -->

                                        <!-- arrow-down -->
                                        <div class="arrow-down"></div>

                                        <!-- client -->
                                        <div class="client">
                                            <!-- thumbnail -->
                                            <div class="thumbnail">
                                                <img src="images/clients/client-1-60x60.jpg" alt="Client 1 Image">
                                            </div><!-- /thumbnail -->

                                            <p><strong>John</strong><span>Client 1</span></p>

                                        </div><!-- /client -->
                                    </li><!-- /slide 1 -->


                                    <!-- slide 2 -->
                                    <li>
                                        <!-- testimonial -->
                                        <div class="testimonial">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>
                                        </div><!-- /testimonial -->

                                        <!-- arrow-down -->
                                        <div class="arrow-down"></div>

                                        <!-- client -->
                                        <div class="client">
                                            <!-- thumbnail -->
                                            <div class="thumbnail">
                                                <img src="images/clients/client-2-60x60.jpg" alt="Client 2 Image">
                                            </div><!-- /thumbnail -->

                                            <p><strong>Jessica</strong><span>Client 2</span></p>

                                        </div><!-- /client -->
                                    </li><!-- /slide 2 -->

                                </ul><!-- /slides -->
                            </div><!-- /testimonial-flexslider -->

                        </div><!-- /text-widget -->

                    </div><!-- /col-md-4 -->

		        </div><!-- /row -->
		    </div><!-- /container -->
        </section><!-- /gray-section -->




        <!-- =========================================
        White Section ( My Work )
        ========================================== -->
        <section class="white-section">
            <!-- container -->
		    <div class="container">
		        <!-- row -->
		        <div class="row">


		            <!-- col-md-12 -->
		            <div class="col-md-12">
                        <!-- short-section-title -->
                        <div class="short-section-title">
                            <h3>Mis Desarrollos</h3>
                        </div><!-- /short-section-title -->
		            </div><!-- /col-md-12 -->

		            <!-- latest-works -->
		            <ul class="latest-works my-work">

                        <!-- item 1 -->
                        <li>

                            <!-- img-figure-overlayer -->
                            <div class="img-figure-overlayer">
                                <a data-toggle="modal" href="#lwModal" title="Details">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="fancybox" data-fancybox-group="gallery3" href="images/work/2-880x495.jpg" title="Party Animals - Brand">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div><!-- /img-figure-overlayer -->

                            <!-- img-figure -->
                            <div class="img-figure">
                                <!-- image -->
                                <img src="images/work/thumbs/2-545x307.jpg" alt="Work 1">
                            </div><!-- /img-figure -->

                            <!-- title-caption -->
                            <div class="title-caption">
                                <span>Party Animals</span>
                                <span><i class="fa fa-dot-circle-o"  title="Brand" data-rel="tooltip" data-placement="top"></i></span>
                            </div><!-- /title-caption -->

                        </li><!-- /item 1 -->

                        <!-- item 2 -->
                        <li>

                            <!-- img-figure-overlayer -->
                            <div class="img-figure-overlayer">
                                <a data-toggle="modal" href="#lwModal" title="Details">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="fancybox" data-fancybox-group="gallery3" href="images/work/3-880x495.jpg" title="Freedom Fields - Image">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div><!-- /img-figure-overlayer -->

                            <!-- img-figure -->
                            <div class="img-figure">
                                <!-- image -->
                                <img src="images/work/thumbs/3-545x307.jpg" alt="Work 2">
                            </div><!-- /img-figure -->

                            <!-- title-caption -->
                            <div class="title-caption">
                                <span>Freedom Fields</span>
                                <span><i class="fa fa-picture-o"  title="Image" data-rel="tooltip" data-placement="top"></i></span>
                            </div><!-- /title-caption -->

                        </li><!-- /item 2 -->

                        <!-- item 3 -->
                        <li>

                            <!-- img-figure-overlayer -->
                            <div class="img-figure-overlayer">
                                <a data-toggle="modal" href="#lwModal" title="Details">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="fancybox" data-fancybox-group="gallery3" href="images/work/4-880x495.jpg" title="Creative - Brand">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div><!-- /img-figure-overlayer -->

                            <!-- img-figure -->
                            <div class="img-figure">
                                <!-- image -->
                                <img src="images/work/thumbs/4-545x307.jpg" alt="Work 3">
                            </div><!-- /img-figure -->

                            <!-- title-caption -->
                            <div class="title-caption">
                                <span>Creative</span>
                                <span><i class="fa fa-dot-circle-o"  title="Brand" data-rel="tooltip" data-placement="top"></i></span>
                            </div><!-- /title-caption -->

                        </li><!-- /item 3 -->

                    </ul><!-- /latest-works -->


		        </div><!-- /row -->
		    </div><!-- /container -->
        </section><!-- /section -->

        <script type="text/javascript" src="js/Eliteware.js"></script>
        