<!-- =========================================
Footer
========================================== -->
<!-- footer -->
<div class="footer">

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- =========================================
            To Top
            ========================================== -->
            <div class="topcontrol">
                <a href="#" title="To Top"><i class="fa fa-angle-up"></i></a>
            </div>


            <!-- =========================================
            footer-toogle
            ========================================== -->
            <div class="footer-toogle">
                <i class="fa fa-plus"></i>
            </div>


            <!-- top-footer -->
            <div class="top-footer">

                <!-- col-md-9 -->
                <div class="col-md-9">


                    <!-- col-md-4 -->
                    <div class="col-md-4">

                        <!-- footer-widget -->
                        <div class="footer-widget">

                            <!-- footer-widget-title -->
                            <div class="footer-widget-title"><h3>Recent Posts</h3></div>

                            <!-- footer-widget-recent-posts -->
                            <div class="footer-widget-recent-posts">

                                <ul>

                                    <!-- post 1 -->
                                    <li>

                                        <!-- post-thumbnail -->
                                        <div class="post-thumbnail">
                                            <a href="blog-single-post.html" title="Post with image">
                                                <img src="images/posts/thumbs/1-50x50.jpg" alt="post 1"/>
                                            </a>
                                        </div><!-- /post-thumbnail -->

                                        <!-- post-containt -->
                                        <div class="post-containt">
                                            <!-- post-title -->
                                            <div class="post-title">
                                                <h5>
                                                    <a href="blog-single-post.html" title="Post with image">
                                                        Post with image
                                                    </a>
                                                </h5>
                                            </div><!-- /post-title -->

                                            <!-- post-date -->
                                            <div class="post-date">
                                                <h6>
                                                    May, 17 2014
                                                </h6>
                                            </div><!-- /post-date -->
                                        </div><!-- /post-containt -->

                                    </li><!-- /post 1 -->

                                    <!-- post 2 -->
                                    <li>

                                        <!-- post-thumbnail -->
                                        <div class="post-thumbnail">
                                            <a href="blog-single-post.html" title="Post with Audio">
                                                <img src="images/posts/thumbs/2-50x50.jpg" alt="post 2"/>
                                            </a>
                                        </div><!-- /post-thumbnail -->

                                        <!-- post-containt -->
                                        <div class="post-containt">
                                            <!-- post-title -->
                                            <div class="post-title">
                                                <h5>
                                                    <a href="blog-single-post.html" title="Post with Audio">
                                                        Post with Audio
                                                    </a>
                                                </h5>
                                            </div><!-- /post-title -->

                                            <!-- post-date -->
                                            <div class="post-date">
                                                <h6>
                                                    May, 17 2014
                                                </h6>
                                            </div><!-- /post-date -->
                                        </div><!-- /post-containt -->

                                    </li><!-- /post 2 -->

                                    <!-- post 3 -->
                                    <li>

                                        <!-- post-thumbnail -->
                                        <div class="post-thumbnail">
                                            <a href="blog-single-post.html" title="Post with Video">
                                                <img src="images/posts/thumbs/3-50x50.jpg" alt="post 3"/>
                                            </a>
                                        </div><!-- /post-thumbnail -->

                                        <!-- post-containt -->
                                        <div class="post-containt">
                                            <!-- post-title -->
                                            <div class="post-title">
                                                <h5>
                                                    <a href="blog-single-post.html" title="Post with Video">
                                                        Post with Video
                                                    </a>
                                                </h5>
                                            </div><!-- /post-title -->

                                            <!-- post-date -->
                                            <div class="post-date">
                                                <h6>
                                                    May, 17 2014
                                                </h6>
                                            </div><!-- /post-date -->
                                        </div><!-- /post-containt -->

                                    </li><!-- /post 3 -->

                                    <!-- post 4 -->
                                    <li>

                                        <!-- post-thumbnail -->
                                        <div class="post-thumbnail">
                                            <a href="blog-single-post.html" title="Post with Slider">
                                                <img src="images/posts/thumbs/4-50x50.jpg" alt="post 4"/>
                                            </a>
                                        </div><!-- /post-thumbnail -->

                                        <!-- post-containt -->
                                        <div class="post-containt">
                                            <!-- post-title -->
                                            <div class="post-title">
                                                <h5>
                                                    <a href="blog-single-post.html" title="Post with Slider">
                                                        Post with Slider
                                                    </a>
                                                </h5>
                                            </div><!-- /post-title -->

                                            <!-- post-date -->
                                            <div class="post-date">
                                                <h6>
                                                    May, 17 2014
                                                </h6>
                                            </div><!-- /post-date -->
                                        </div><!-- /post-containt -->

                                    </li><!-- /post 4 -->

                                </ul>

                            </div><!-- /footer-widget-recent-posts -->

                        </div><!-- /footer-widget -->

                    </div><!-- /col-md-4 -->


                    <!-- col-md-4 -->
                    <div class="col-md-4">

                        <!-- footer-widget -->
                        <div class="footer-widget">

                            <!-- footer-widget-title -->
                            <div class="footer-widget-title"><h3>The Bird</h3></div>

                            <!-- tweetfeed -->
                            <div class="tweetfeed">
                                <div class="tweet"></div>
                            </div><!-- /tweetfeed -->

                        </div><!-- /footer-widget -->

                    </div><!-- /col-md-4 -->


                    <!-- col-md-4 -->
                    <div class="col-md-4">

                        <!-- footer-widget -->
                        <div class="footer-widget">

                            <!-- footer-widget-title -->
                            <div class="footer-widget-title"><h3>Photo Stream</h3></div>

                            <!-- flickr-feed -->
                            <div id="flickr-feed" class="flickr-feed"></div>

                        </div><!-- /footer-widget -->

                    </div><!-- /col-md-4 -->


                </div><!-- /col-md-9 -->


                <!-- col-md-3 -->
                <div class="col-md-3">


                    <!-- description-box -->
                    <div class="description-box">

                        <div id="grid">

                            <a href="https://maps.google.com/maps?t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3&amp;ie=UTF8&amp;ll=29.983775,31.167161&amp;spn=0.020593,0.038581&amp;z=15&amp;output=embed" class="minimap" data-path-hover="m 180,59 -180,0 L 0,0 180,0 z">

                                <figure>
                                    <div id="map"></div>
                                    <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                                    <figcaption>
                                        <h3>Find Us</h3>
                                        <p>Don't worry we will show you the way.</p>
                                    </figcaption>
                                </figure>

                            </a>

                        </div>

                    </div><!-- /description-box -->

                </div><!-- /col-md-3 -->

            </div><!-- /top-footer -->


        </div><!-- /row -->
    </div><!-- /container -->


    <!-- copy-right -->
    <div class="copyright">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-9">
                    <p>Copyright &copy; 2015 <a href="http://eliteware.io">eliteware.io</a> All rights reserved!</p>
                </div>

                <div class="col-md-3">
                    <!-- social-icons -->
                    <ul class="social-icons">
                        <li><a href="https://twitter.com/ElitewareIO" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/pages/Eliteware-IO/1592837687645075?fref=ts" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/114647120490961114071/posts?hl=es" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCxCXGAXJWK9J7jua_ZjNTq" title="Youtube" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="https://es.pinterest.com/elitewareio/" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="javascript:void(0)" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul><!-- /social-icons -->
                </div>

            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /copy-right -->


</div><!-- /footer -->
<script>
    /* Footer Toggle
     ========================================================================== */
    $('.footer-toogle i').click(function () {
        var state = $(this).data('toggleState');
        if (!state) {
            $('.footer .top-footer').slideDown('slow');
            $("html, body").animate({ scrollTop: $(document).height() }, "slow");
            $('.footer-toogle i').removeClass('fa-plus');
            $('.footer-toogle i').addClass('fa-minus');
            $('.footer-toogle').css({backgroundImage: 'linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, #232323 50%, #232323 100%)'});
            $('.footer').css({borderTop: '8px solid #232323'});
            $('.topcontrol a').css({backgroundColor: '#232323'});
        } else {
            $('.footer .top-footer').slideUp('slow');
            $('.footer-toogle i').addClass('fa-plus');
            $('.footer-toogle i').removeClass('fa-minus');
            $('.footer-toogle').css({backgroundImage: 'linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, #333333 50%, #333333 100%)'});
            $('.footer').css({borderTop: '8px solid #333333'});
            $('.topcontrol a').css({backgroundColor: '#333333'});
        }
        $(this).data('toggleState', !state);
    });

    $('.footer .top-footer').slideUp('slow');
</script>