<!-- =========================================
Menu
========================================== -->
<!-- gn-menu-main -->
<ul id="gn-menu" class="gn-menu-main">
    <!-- gn-trigger -->
    <li class="gn-trigger">
        <!-- gn-icon-menu -->
        <a class="gn-icon-menu" href="javascript:void(0)" title="Menu"><i class="fa fa-bars"></i></a>
        <!-- gn-menu-wrapper -->
        <nav class="gn-menu-wrapper">
            <!-- gn-scroller -->
            <div class="gn-scroller">
                <!-- gn-menu -->
                <ul class="gn-menu">
                    <!-- gn-search-item -->
                    <li class="gn-search-item">
                        <i class="fa fa-search"></i>
                        <form class="searchform" method="get" action="#">
                            <input class="gn-search" type="search" name="s" placeholder="Buscar">
                        </form>
                    </li><!-- /gn-search-item -->
                    <!-- Home -->
                    <li>
                        <a class="gn-active" ui-sref="inicio" title="Inicio" ng-click="loadHome()">
                            <i class="fa fa-home"></i> Inicio
                        </a>
                    </li><!-- /Home -->
                    <!-- About Us -->
                    <li>
                        <a class="gn-dropdown" href="javascript:void(0)" title="Acerca de">
                            <i class="fa fa-user"></i> Acerca de
                        </a>
                        <!-- gn-submenu -->
                        <ul class="gn-submenu">
                            <li><a ui-sref="about.us" title="Nosotros">Nosotros</a></li>
                            <!--<li><a href="about-me.html" title="About Me">About Me</a></li>-->
                        </ul><!-- /gn-submenu -->
                    </li><!-- /About Us -->
                    <!-- Pages -->
                    <li>
                        <a class="gn-dropdown" href="javascript:void(0)" title="Seccciones"><i class="fa fa-file-o"></i> Seccciones</a>
                        <!-- gn-submenu -->
                        <ul class="gn-submenu">
                            <li><a ui-sref="servicios" title="Nuestros Servicios">Nuestros Servicios</a></li>
                            <!--<li><a href="page-pricing-tables.html" title="Pricing Tables">Pricing Tables</a></li>-->
                            <li ng-show="false"><a href="page-team.html" title="Equipo">Equipo</a></li>
                            <!--<li><a href="page-404-error.html" title="404 Error">404 Error</a></li>-->
                            <li><a ui-sref="mapasitio" title="Mapa del Sitio">Mapa del Sitio</a></li>
                        </ul><!-- /gn-submenu -->
                    </li><!-- /Pages -->
                    <!-- Portfolio -->
                    <li ng-show="false">
                        <a class="gn-dropdown" href="javascript:void(0)" title="Portafolio"><i class="fa fa-briefcase"></i> Portafolio</a>
                        <!-- gn-submenu -->
                        <ul class="gn-submenu">
                            <li><a href="portfolio-4-columns.html" title="Portfolio 4 Columns">4 Columns</a></li>
                            <li><a href="portfolio-3-columns.html" title="Portfolio 3 Columns">3 Columns</a></li>
                            <li><a href="portfolio-2-columns.html" title="Portfolio 2 Columns">2 Columns</a></li>
                            <li><a href="portfolio-single-project.html" title="Portfolio Single Project">Single Project</a></li>
                        </ul><!-- /gn-submenu -->

                    </li><!-- /Portfolio -->

                    <!-- Blog -->
                    <li ng-show="false">
                        <a class="gn-dropdown" href="javascript:void(0)" title="Blog"><i class="fa fa-pencil"></i> Blog</a>

                        <!-- gn-submenu -->
                        <ul class="gn-submenu">
                            <li><a href="blog.html" title="Blog">Blog</a></li>
                            <li><a href="blog-timeline.html" title="Blog Timeline">Blog Timeline</a></li>
                            <li><a href="blog-single-post.html" title="Single Post">Single Post</a></li>
                        </ul><!-- /gn-submenu -->

                    </li><!-- /Blog -->

                    <!-- Contact Us -->
                    <li>
                        <a ui-sref="contact-us" title="Cont&aacute;ctanos"><i class="fa fa-phone"></i> Cont&aacute;ctanos</a>
                    </li><!-- /Contact Us -->

                </ul><!-- /gn-menu -->

            </div><!-- /gn-scroller -->

        </nav><!-- /gn-menu-wrapper -->

    </li><!-- /gn-trigger -->

    <!-- logo -->
    <li class="logo">
        <a href='#/home' title="Eliteware"><img src="images/logo.png" alt="logo" /></a>
    </li><!-- /logo -->

    <!-- page-title -->
    <li class="page-title">
        <h3><span ng-bind="pageTitle"></span></h3>
    </li><!-- /page-title -->

    <!-- #menu-social-icons -->
    <li id="menu-social-icons">
        <!-- menu-social-icons -->
        <ul class="menu-social-icons">
            <li><a href="https://twitter.com/ElitewareIO" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/pages/Eliteware-IO/1592837687645075?fref=ts" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://plus.google.com/114647120490961114071/posts?hl=es" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCxCXGAXJWK9J7jua_ZjNTq" title="Youtube" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            <li><a href="https://es.pinterest.com/elitewareio/" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="javascript:void(0)" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul><!-- /menu-social-icons -->
    </li><!-- /#menu-social-icons -->
</ul><!-- /gn-menu-main -->

<script type="text/javascript" src="js/plugins/gnmenu.js"></script>
<script>
    jQuery(document).ready(function () {
        /* ==========================================================================
         Menu
         ========================================================================== */
        Topmenu = new GnMenu(document.getElementById('gn-menu'));
    });
</script>
